
 <div class="">
  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="col-lg-12">
                        <div class="p-5">

                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Organization/ Staffing Pattern </h1>
                                <label><strong>Governance - Municipality of {{munCityName}} </strong></label><br>
                            </div><br>

                          <form class= "user collapse show" id="collapseExample"><br>
                            <div class="form-group">
                              <div class ="row">
                              </div>
                              <div class="row">
                                       <div class ="col-lg-12">
                                        <label for="exampleFormControlTextarea1" >Organizational Chart</label>
                                        <form action="/action_page.php">
                                          <input type="file" id="myFile" name="filename">
                                        </form>
                                       </div>

                                       <div class ="col-lg-12"><br>
                                        <label for="exampleFormControlTextarea1" >Number of Employees:</label>
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Permanent :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="permanent" name = "permanent" [(ngModel)] ="org.permanentNo"  [disabled]="inputDisabled"  placeholder="" [ngClass]="toValidate.permanentNo?'is-invalid':''" (keyup)="toValidate.permanentNo=false">
                                      </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Temporary :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="temporary" name = "temporary" [(ngModel)] ="org.temporary"  [disabled]="inputDisabled"  placeholder="" [ngClass]="toValidate.temporary?'is-invalid':''" (keyup)="toValidate.temporary=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Co-Terminus :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="coTerminus" name = "coTerminus" [(ngModel)] ="org.coTerminus"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.coTerminus?'is-invalid':''" (keyup)="toValidate.coTerminus=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Elected :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="elected" name = "elected" [(ngModel)] ="org.elected"  [disabled]="inputDisabled"  placeholder="" [ngClass]="toValidate.elected?'is-invalid':''" (keyup)="toValidate.elected=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Casual :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="casual" name = "casual" [(ngModel)] ="org.casual"  [disabled]="inputDisabled"  placeholder="" [ngClass]="toValidate.casual?'is-invalid':''" (keyup)="toValidate.casual=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Job Order :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="jobOrder" name = "jobOrder" [(ngModel)] ="org.jobOrder"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.jobOrder?'is-invalid':''" (keyup)="toValidate.jobOrder=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Contractual :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="contractual" name = "contractual" [(ngModel)] ="org.contractual"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.contractual?'is-invalid':''" (keyup)="toValidate.contractual=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Casual SEF :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="casualSef" name = "casualSef" [(ngModel)] ="org.casualSef"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.casualSef?'is-invalid':''" (keyup)="toValidate.casualSef=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >School Board :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="schoolBoard" name = "schoolBoard" [(ngModel)] ="org.schoolBoard"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.schoolBoard?'is-invalid':''" (keyup)="toValidate.schoolBoard=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Contract of Services :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="number" class="form-control" id="contractService" name = "contractService" [(ngModel)] ="org.contractService"  [disabled]="inputDisabled" placeholder="" [ngClass]="toValidate.contractService?'is-invalid':''" (keyup)="toValidate.contractService=false">
                                       </div>

                                       <div class ="col-lg-3"><br>
                                        <label for="exampleFormControlTextarea1" >Others :</label>
                                       </div>
                                       <div class ="col-lg-9"><br>
                                        <input type="text" class="form-control" id="others" name = "others" [(ngModel)] ="org.others"  [disabled]="inputDisabled"  placeholder="" [ngClass]="toValidate.others?'is-invalid':''" (keyup)="toValidate.others=false">
                                       </div>

                                      </div>
                                       </div>
                                       <br>
                                       <br>
                                       <div class ="form-inline float-right ">
                                     <app-admin>
                                    <button type="button" class="btn btn-primary" *ngIf="!vieworg" (click) = "AddOrg()" ><i class ="fa fa-plus"></i>ADD</button>&nbsp;
                                  </app-admin>

                                  <app-admin>
                                     <div *ngIf="vieworg">
                                      <button type="button" title="Edit" (click)="editO=org" class="btn btn-info btn-circle" data-toggle="modal" data-target="#exampleModalLong" ><i class="fa fa-pen"></i>Edit </button>&nbsp;
                                       <button type="button" title="Delete" class="btn btn-warning btn-circle" (click)="delete(org.transId)"><i class="fa fa-trash"></i>  </button>&nbsp;
                                     </div>
                                    </app-admin>
                                    </div>
                                  </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal For Update -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update your Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class ="row">
          </div>
          <div class="row">

            <div class ="col-lg-12"><br>
              <label for="exampleFormControlTextarea1" >Organizational Chart</label>
              <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">

              </form>
             </div>

             <div class ="col-lg-12"><br>
              <label for="exampleFormControlTextarea1" >Number of Employees:</label>
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Permanent :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="permanent" name = "permanent" [(ngModel)] ="editO.permanentNo"  placeholder="">
            </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Temporary :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="temporary" name = "temporary" [(ngModel)] ="editO.temporary"  placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Co-Terminus :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="coTerminus" name = "coTerminus" [(ngModel)] ="editO.coTerminus"  placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Elected :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="elected" name = "elected" [(ngModel)] ="editO.elected" placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Casual :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="casual" name = "casual" [(ngModel)] ="editO.casual"  placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Job Order :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="jobOrder" name = "jobOrder" [(ngModel)] ="editO.jobOrder" placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Contractual :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="contractual" name = "contractual" [(ngModel)] ="org.contractual"  placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Casual SEF :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="casualSef" name = "casualSef" [(ngModel)] ="editO.casualSef" placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >School Board :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="schoolBoard" name = "schoolBoard" [(ngModel)] ="editO.schoolBoard"  placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Contract of Services :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="number" class="form-control" id="contractService" name = "contractService" [(ngModel)] ="editO.contractService" placeholder="">
             </div>

             <div class ="col-lg-2"><br>
              <label for="exampleFormControlTextarea1" >Others :</label>
             </div>
             <div class ="col-lg-10"><br>
              <input type="text" class="form-control" id="others" name = "others" [(ngModel)] ="editO.others"  placeholder="">
             </div>


                  </div>
                   </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()" data-dismiss="modal"><i class="fa fa-edit"></i>Update</button>&nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>

      </div>
    </div>
  </div>
</div>


