<div class="">
  <ng-template #isEmpty>
    <app-import
      [data]="message"
      (importData)="importMethod()"
      (testEvent)="parentMethod()"
    ></app-import>
  </ng-template>

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <div
    *ngIf="viewData; else isEmpty"
    class="card o-hidden border-2 shadow-sm my-5"
  >
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="col-lg-12">
              <div class="">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-1">
                    Organization/ Staffing Pattern
                  </h1>
                  <label
                    ><strong
                      >Governance - {{ modifyCityMun(munCityName) }}
                    </strong></label
                  >
                </div>

                <form class="user collapse show" id="collapseExample">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="exampleFormControlTextarea1"
                          >Organizational Chart</label
                        >
                        <div class="row">
                          <div class="col-lg-4">
                            <app-admin>
                              <label
                                *ngIf="!croppedImagee; else show"
                                for="fileInputtt"
                                class="pointer"
                              >
                                <img
                                  data-toggle="modal"
                                  data-target="#uploadOrg"
                                  src="assets/img/image.png"
                                  height="50"
                                  width="50"
                                />
                              </label>

                              <!-- <label for="fileInputtt" class="pointer">
                                <h5>
                                  <i class='fa fa-pen' data-toggle="modal" data-target="#uploadOrg"
                                    style="color: rgb(54, 127, 223); font-size: 13px;"></i>
                                </h5>
                              </label> -->
                              <input
                                #fileInputtt
                                id="fileInputtt"
                                type="file"
                                style="display: none"
                                (change)="fileChangeEventt($event)"
                              />
                            </app-admin>
                          </div>
                          <ng-template #show>
                            <img
                              *ngIf="croppedImagee"
                              [src]="croppedImagee"
                              height="50"
                              width="50"
                              data-toggle="modal"
                              data-target="#viewOrg"
                            />
                            <!-- <i class='fa fa-pen pl-2 pt-3' data-toggle="modal" data-target="#uploadOrg"
                            style="color: rgb(54, 127, 223); font-size: 13px;"></i> -->
                          </ng-template>
                        </div>

                        <!-- <div class="row">
                          <div class="col-lg-12 mb-2">
                            <form action="/action_page.php">
                              <input id="fileInputt" type="file" (change)="fileChangeEventt($event)">
                            </form>
                          </div>
                          <div *ngIf="fileName !== ''" class="col-lg-12">
                            <button class="btn btn-primary" (click)="updateImage()">
                              Upload file
                            </button>
                          </div>
                        </div> -->

                        <div class="form-inline float-right">
                          <app-admin>
                            <app-pdf (myEvent)="GeneratePDF()"></app-pdf>
                          </app-admin>
                        </div>
                        <br />
                      </div>
                      <div class="table-responsive">
                        <table class="table table-light table-striped">
                          <thead class="table-dark">
                            <tr>
                              <th>Number of Employees</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Permanent :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control mb-2"
                                  id="permanent"
                                  name="permanent"
                                  [(ngModel)]="org.permanentNo"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.permanentNo ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.permanentNo = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Temporary :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="temporary"
                                  name="temporary"
                                  [(ngModel)]="org.temporary"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.temporary ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.temporary = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Co-Terminus :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="coTerminus"
                                  name="coTerminus"
                                  [(ngModel)]="org.coTerminus"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.coTerminus ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.coTerminus = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Elected :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="elected"
                                  name="elected"
                                  [(ngModel)]="org.elected"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.elected ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.elected = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Casual :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="casual"
                                  name="casual"
                                  [(ngModel)]="org.casual"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.casual ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.casual = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Job Order :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="jobOrder"
                                  name="jobOrder"
                                  [(ngModel)]="org.jobOrder"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.jobOrder ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.jobOrder = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Contractual :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="contractual"
                                  name="contractual"
                                  [(ngModel)]="org.contractual"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.contractual ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.contractual = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Casual SEF :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="casualSef"
                                  name="casualSef"
                                  [(ngModel)]="org.casualSef"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.casualSef ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.casualSef = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>School Board :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="schoolBoard"
                                  name="schoolBoard"
                                  [(ngModel)]="org.schoolBoard"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.schoolBoard ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.schoolBoard = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Contract of Services :</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="contractService"
                                  name="contractService"
                                  [(ngModel)]="org.contractService"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.contractService
                                      ? 'is-invalid'
                                      : ''
                                  "
                                  (keyup)="toValidate.contractService = false"
                                  min="0"
                                  oninput="this.value = Math.abs(this.value)"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td>Others :</td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="others"
                                  name="others"
                                  [(ngModel)]="org.others"
                                  [disabled]="inputDisabled"
                                  placeholder=""
                                  [ngClass]="
                                    toValidate.others ? 'is-invalid' : ''
                                  "
                                  (keyup)="toValidate.others = false"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="form-inline float-right">
                    <app-admin>
                      <button
                        type="button"
                        class="btn btn-primary"
                        *ngIf="!vieworg"
                        (click)="AddOrg()"
                      >
                        <i class="fa fa-plus"></i>Save Data</button
                      >&nbsp;
                    </app-admin>

                    <app-admin>
                      <div *ngIf="vieworg">
                        <button
                          type="button"
                          title="Edit"
                          (click)="editO = org"
                          class="btn btn-info btn-circle"
                          data-toggle="modal"
                          data-target="#exampleModalLong"
                        >
                          <i class="fa fa-pen"></i></button
                        >&nbsp;
                        <button
                          type="button"
                          title="Delete"
                          class="btn btn-warning btn-circle"
                          (click)="delete(org.transId)"
                        >
                          <i class="fa fa-trash"></i></button
                        >&nbsp;
                      </div>
                    </app-admin>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal For Update -->
    <div
      class="modal fade"
      id="exampleModalLong"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">UPDATE</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <label>Permanent :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="permanent"
                  name="permanent"
                  [(ngModel)]="editO.permanentNo"
                  placeholder=""
                  [ngClass]="toValidate.permanentNo ? 'is-invalid' : ''"
                  (keyup)="toValidate.permanentNo = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Temporary : </label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="temporary"
                  name="temporary"
                  [(ngModel)]="editO.temporary"
                  placeholder=""
                  [ngClass]="toValidate.temporary ? 'is-invalid' : ''"
                  (keyup)="toValidate.temporary = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label> Co-Terminus : </label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="coTerminus"
                  name="coTerminus"
                  [(ngModel)]="editO.coTerminus"
                  placeholder=""
                  [ngClass]="toValidate.coTerminus ? 'is-invalid' : ''"
                  (keyup)="toValidate.coTerminus = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Elected :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="elected"
                  name="elected"
                  [(ngModel)]="editO.elected"
                  placeholder=""
                  [ngClass]="toValidate.elected ? 'is-invalid' : ''"
                  (keyup)="toValidate.elected = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label> Casual : </label>

                <input
                  type="number"
                  class="form-control mb-2"
                  id="casual"
                  name="casual"
                  [(ngModel)]="editO.casual"
                  placeholder=""
                  [ngClass]="toValidate.casual ? 'is-invalid' : ''"
                  (keyup)="toValidate.casual = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Job Order :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="jobOrder"
                  name="jobOrder"
                  [(ngModel)]="editO.jobOrder"
                  placeholder=""
                  [ngClass]="toValidate.jobOrder ? 'is-invalid' : ''"
                  (keyup)="toValidate.jobOrder = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Contractual :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="contractual"
                  name="contractual"
                  [(ngModel)]="org.contractual"
                  placeholder=""
                  [ngClass]="toValidate.contractual ? 'is-invalid' : ''"
                  (keyup)="toValidate.contractual = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Casual SEF :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="casualSef"
                  name="casualSef"
                  [(ngModel)]="editO.casualSef"
                  placeholder=""
                  [ngClass]="toValidate.casualSef ? 'is-invalid' : ''"
                  (keyup)="toValidate.casualSef = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>School Board :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="schoolBoard"
                  name="schoolBoard"
                  [(ngModel)]="editO.schoolBoard"
                  placeholder=""
                  [ngClass]="toValidate.schoolBoard ? 'is-invalid' : ''"
                  (keyup)="toValidate.schoolBoard = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Contract of Services :</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  id="contractService"
                  name="contractService"
                  [(ngModel)]="editO.contractService"
                  placeholder=""
                  [ngClass]="toValidate.contractService ? 'is-invalid' : ''"
                  (keyup)="toValidate.contractService = false"
                  min="0"
                  oninput="this.value = Math.abs(this.value)"
                />
              </div>
              <div class="col-lg-6">
                <label>Others :</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  id="others"
                  name="others"
                  [(ngModel)]="editO.others"
                  placeholder=""
                  [ngClass]="toValidate.others ? 'is-invalid' : ''"
                  (keyup)="toValidate.others = false"
                />
              </div>
            </div>
            <br />
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="update()">
                <i class="fa fa-check"></i>Save Changes</button
              >&nbsp;
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                <i class="fa fa-times"></i>Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Upload Org -->
  <div
    class="modal fade"
    id="uploadOrg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="uploadModalTitle"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Organizational Chart
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <image-cropper
            [imageChangedEvent]="imageChangedEventt"
            [maintainAspectRatio]="true"
            [aspectRatio]="fullImageAspectRatio"
            format="png"
            (imageCropped)="imageCroppedd($event)"
            (imageLoaded)="imageLoadedd($event)"
            (cropperReady)="cropperReadyy($event)"
            (loadImageFailed)="loadImageFailedd()"
          >
          </image-cropper>
        </div>

        <div class="modal-footer">
          <div
            class="col-lg-6 progress"
            style="height: 20px"
            *ngIf="progressvalue"
          >
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              style="width: 75%"
              [ngStyle]="{ width: progressvalue }"
            ></div>
          </div>
          <button
            #closeModal
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="updateImage()">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal View Org -->
  <div
    class="modal fade"
    id="viewOrg"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Organizational Chart
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img
            *ngIf="croppedImagee"
            class="img-fluid"
            [src]="croppedImagee"
            data-toggle="modal"
            data-target="#viewOrg"
          />
        </div>

        <div class="modal-footer">
          <div
            class="col-lg-6 progress"
            style="height: 20px"
            *ngIf="progressvalue"
          >
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              style="width: 75%"
              [ngStyle]="{ width: progressvalue }"
            ></div>
          </div>
          <button
            #closeModal
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="triggerFileInput()"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#uploadOrg"
          >
            Edit Organizational Chart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
