<nav class="navbar navbar-expand-sm shadow-sm p-3 bg-white rounded" style="z-index: 100;">
    <div class="container-fluid">
        <div class="w-25">
            <img src="assets/img/sepsfinal.png" alt="" style="height: 50px;"> 
            <span style="padding-left:5px; font-size: 20px; font-weight:bolder; color:rgb(47, 126, 245)">
              SEPS
            </span>
        </div>
   
      
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <i class="fa fa-bars"></i>
    </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link text-gray-800" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-gray-800    " href="#" role="button" data-bs-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Link</a></li>
              <li><a class="dropdown-item" href="#">Another link</a></li>
              <li><a class="dropdown-item" href="#">A third link</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
            <button class="btn btn-outline-primary" routerLink="/login" type="button">Login</button>
            &nbsp;
          <button class="btn btn-primary"  routerLink="register" type="button">Register</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
