<div class="">
  <div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 "> Government Housing Projects</h1>
              <label><strong>Housing - {{modifyCityMun(munCityName)}} </strong></label>
            </div>
            <div class="text-right">
              <form class="user collapse show" id="collapseExample">
                <button type="button" (click)="clearData()" class="btn btn-labeled btn btn-primary" data-toggle="modal"
                  data-target="#exampleModal">
                  <span class="btn-label"><i class="fa fa-plus"></i></span> Housing Project</button><br>
              </form>
            </div>
            <label>List of Government Housing Projects
            </label>
            <table class="table table-light table-striped">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name of Housing Project</th>
                  <th scope="col">Location</th>
                  <th scope="col">Area</th>
                  <th scope="col">No. of Housing Units</th>
                  <th scope="col">No. of Families</th>
                  <th scope="col">Remarks</th>
                  <th scope="col">Barangay</th>
                  <th scope="col">Geo-Coord.(Long,Lat)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of dataList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{dataItem.name}}</td>
                  <td>{{dataItem.location}}</td>
                  <td>{{dataItem.area}}</td>
                  <td>{{dataItem.housingNo}}</td>
                  <td>{{dataItem.familiesNo}}</td>
                  <td>{{dataItem.remarks}}</td>
                  <td>{{dataItem.brgyName}}</td>
                  <td>{{dataItem.longtitude}}, {{dataItem.latitude}}</td>
                  <td>
                    <div class="d-inline-flex">
                      <button (click)="addData = dataItem" data-toggle="modal" (click)="editToggle()"
                        data-target="#exampleModal" class="btn btn-info btn-circle">
                        <i class="fas fa-pen"></i></button> &nbsp;
                      <button (click)="SetMarker(dataItem); addData = dataItem" data-toggle="modal"
                        data-target="#gmapModal" class="btn btn-success btn-circle">
                        <i class="fas fa-globe"></i></button> &nbsp;
                      <button class="btn btn-warning btn-circle" (click)="DeleteData(dataItem)">
                        <i class="fas fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Government Housing Project</h5>
        <button type="button" #closebutton class="btn-close" data-toggle="modal" data-target="#exampleModal"
          aria-hidden="true" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="">
            <div class="">
              <label for="exampleFormControlInput1">Name of Housing Project:</label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.name"
                [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false" />
            </div>
            <br />
            <div class="row">
            <div class="col-lg-4">
              <label for="category">Barangay :</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.brgyId"
                [ngClass]="toValidate.brgyId?'is-invalid':''" (ngModelChange)="toValidate.brgyId=false">
                <option *ngFor="let item of barangayList" [value]="item.brgyId">
                  {{ item.brgyName }}
                </option>
              </select>
            </div><br>
            <div class="col-lg-8">
              <label for="exampleFormControlTextarea1">Location (Street/Purok/Barangay) :</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                [(ngModel)]="addData.location"></textarea>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <label for="exampleFormControlInput1">Area (Has) :</label>
            <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.area" />
          </div>
          <div class="col-lg-4">
            <label for="exampleFormControlInput1">Number of Housing Units :</label>
            <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.housingNo" />
          </div>
          <div class="col-lg-4">
            <label>Number of Families:</label>
            <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.familiesNo" />
          </div>
          <div class="">
            <label>Remarks:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              [(ngModel)]="addData.remarks"></textarea>
            <!-- <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.remarks" /> -->
          </div>

        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
          aria-hidden="true">
          <i class="fas fa-times">&nbsp;</i>Close
        </button>
        <button type="button" *ngIf="visible" (click)="AddData()" id="closeModal" class="btn btn-primary">
          Submit
        </button>
        <button type="button" *ngIf="not_visible" (click)="EditData()" aria-hidden="true" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal area GEO -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="EditData()">Save changes</button>
      </div>
    </div>
  </div>
</div>