<div class="">
  <div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Professional Organizations</h1>
              <label><strong>Housing - {{modifyCityMun(munCityName)}} </strong></label><br>
            </div>
            <div class="form-inline float-right ">
              <app-admin>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mAdd"
                  (click)="resetForm(); updateForm = false">
                  <i class="fa fa-plus"></i> Professional Organizations
                </button>
              </app-admin>
            </div>

            <br>
            <label>List of Professional Organizations</label>
            <div class="table-responsive">
              <table class="table table-light table-striped">
                <thead class="table-dark">
                  <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col">Barangay</th>
                    <th scope="col">Name</th>
                    <th scope="col">No. of Members</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Contact Person</th>
                    <th scope="col">Contact Details</th>
                    <th scope="col">Total Assets</th>
                    <th scope="col">Location</th>
                    <th scope="col">Geo-Coord. (Long, Lat)</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listData; let i = index;">
                    <td style="text-align: center;">{{ i + 1 }}</td>
                    <td style="text-align: center;">{{ data.brgyName }}</td>
                    <td style="text-align: center;">{{ data.name }}</td>
                    <td style="text-align: center;">{{ data.membersNo }}</td>
                    <td style="text-align: center;">{{ data.remarks }}</td>
                    <td style="text-align: center;">{{ data.contactPerson }}</td>
                    <td style="text-align: center;">{{ data.contactNo }}</td>
                    <td style="text-align: center;">{{ data.totalAssets }}</td>
                    <td style="text-align: center;">{{ data.location }}</td>
                    <td style="text-align: center;">{{ data.longtitude }}, {{ data.latitude }}</td>
                    <td>
                      <div class="d-inline-flex">
                        <app-admin>
                          <button (click)="addData = data; updateForm = true" class="btn btn-info btn-circle"
                            data-toggle="modal" data-target="#mAdd"><i class="fa fa-pen"></i>
                          </button>
                        </app-admin>
                        &nbsp;
                        <button (click)="SetMarker(data); addData=data" class="btn btn-success btn-circle" role="button"
                          data-toggle="modal" data-target="#gmapModal">
                          <i class="fa fa-globe">
                          </i>
                        </button>
                        &nbsp;
                        <app-admin>
                          <button type="button" title="Delete" class="btn btn-warning btn-circle"
                            (click)="DeleteAssociation(data.transId)"><i class="fa fa-trash"></i>
                          </button>&nbsp;
                        </app-admin>
                      </div>
                      <!-- <div class="d-inline-flex">
                        <app-admin>
                          <button class="btn btn-info btn-circle" style="display: inline-block"
                            (click)="addData = data; updateForm = true" data-toggle="modal" data-target="#mAdd">
                            <i class="fa fa-pen"></i>
                          </button>
                          &nbsp;
                          <div class="flex-button">
                            <button (click)="SetMarker(data); addData = data" data-toggle="modal"
                              data-target="#gmapModal" class="btn btn-success btn-circle"
                              style="display: inline-block; margin-right: 10px; ">
                              <i class="fas fa-globe"></i></button>
                          </div>&nbsp;
                          <button class="btn btn-warning btn-circle" style="display: inline-block; margin-right: 10px"
                            (click)="DeleteAssociation(data.transId)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </app-admin>
                      </div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->

<div class="modal fade" id="mAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Professional Organization</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user collapse show" id="collapseExample">
          <app-admin>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-8">
                  <label for="category">Name :</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.name"
                    [ngModelOptions]="{ standalone: true }" [ngClass]="toValidate.name?'is-invalid':''"
                    (keyup)="toValidate.name=false">
                </div>
                <div class="col-lg-4">
                  <label for="exampleFormControlInput1">No. of Members :</label>
                  <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.membersNo"
                    [ngModelOptions]="{ standalone: true }">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-12">
                  <label for="exampleFormControlInput1">Remarks :</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="addData.remarks"
                    [ngModelOptions]="{ standalone: true }"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4">
                  <label for="exampleFormControlInput1">Contact Person :</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.contactPerson"
                    [ngModelOptions]="{ standalone: true }">
                </div>
                <div class="col-lg-4">
                  <label for="category">Contact Details :</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.contactNo"
                    [ngModelOptions]="{ standalone: true }">
                </div>
                <div class="col-lg-4">
                  <label for="category">Total Assets :</label>
                  <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.totalAssets"
                    [ngModelOptions]="{ standalone: true }">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-4">
                  <label for="category">Barangay :</label>
                  <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.brgyId"
                    [ngModelOptions]="{ standalone: true }" [ngClass]="toValidate.brgyId?'is-invalid':''"
                    (keyup)="toValidate.brgyId=false">
                    <option *ngFor="let barangay of listBarangayData" [value]="barangay.brgyId">{{barangay.brgyName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </app-admin>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="updateForm==false" (click)="AddAssociation(addData)"
          class="btn btn-primary">Submit</button>
        <button type="button" *ngIf="updateForm==true" (click)="EditAssociation()"
          class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- modal area GEO -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="EditAssociation()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<style>
  .border-danger {
    border-color: red;
  }
</style>