<div class="">
  <ng-template #isEmpty>
    <div class="center-div">
      <div class="row">
        <div class="col-lg-12">
          <img src="assets/img/empty-box.png" class="rounded mx-auto d-block" height="200">

        </div>
        <div class="col-lg-12">
          <p class="text-center text-lg text-primary font-weight-bold">NO DATA FOUND.</p>
        </div>
        <div class="col-lg-12 text-center p-lg-2">
          <button class="btn btn-primary">
            Import
          </button>
        </div>
        <div class="col-lg-12 text-center">
          <p class="text-center text-sm text-gray-800 font-weight-normal">
            Press the button above to import SEP Data from previous year.
          </p>
        </div>
        <div class="col-lg-12 text-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i
              class="fa fa-plus"></i>
            City Officials
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <div *ngIf="Official.length > 0 ; else isEmpty" class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="">
              <!-- <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button> -->
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Municipal Officials</h1>
              <label><strong>Governance - Municipality of Asuncion - City Officials</strong></label><br>
            </div>

            <!--
                      <form class="user collapse show" id="collapseExample">
s

                          <div class="form-group">

                            <div class="row">

                                     <div class ="col-lg-6"><br>
                                      <label for="exampleFormControlTextarea1" >Sequence Number :</label>
                                      <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">
                                     </div>
                                     <div class ="col-lg-6"><br>
                                      <label for="exampleFormControlTextarea1" >Term of Office :</label>

                                      <input type="text" class="form-control" name ="Term" [(ngModel)]="city.term" id="Term" placeholder="">
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1" >Position :</label>
                                      <input type="text" class="form-control"  name ="position" [(ngModel)]="city.position"  id="position" placeholder="">
                                     </div>

                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1"  >Name :</label>
                                      <input type="text" class="form-control" id="name" name = "name" [(ngModel)]="city.name" placeholder="">
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1" >Contact Details :</label>
                                     </div>
                                     <div class ="col-lg-12">
                                      <input type="text" class="form-control" id="contact"  name ="contact" [(ngModel)]="city.contact" placeholder="">
                                     </div>

                                    </div>
                                     </div>
                                     <br>
                                     <br>
                            <button type="button" class="btn btn-primary" *ngIf="updateOfficial" (click)="addOfficial()">ADD</button>&nbsp;
                            <button id = "Cancel"  class="btn btn-secondary" *ngIf="updateOfficial" (click) ="city={}">CANCEL</button>&nbsp;
                            <button type="button" class="btn btn-primary" *ngIf="!updateOfficial" (click)="update();updateOfficial=true; city ={}" >Update</button>&nbsp;
                            <button id ="Cancel" class="btn btn-secondary" *ngIf="!updateOfficial" (click) ="updateOfficial=true;city={}" >Cancel</button>&nbsp;


                      </form> -->
            <div class="row">
              <div class="col-lg-10"><br>
                <p>List of Municipal Officials:</p>
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i
                    class="fa fa-plus"></i>
                  City Officials
                </button>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="row">

                </div>
                <table class="table table-framed table-hover table-striped">
                  <thead class="table-dark">
                    <tr>
                      <th></th>

                      <th scope="col">#</th>

                      <th scope="col">Name</th>
                      <th scope="col">Position</th>
                      <th scope="col">Contact Details</th>
                      <th scope="col">Term of Office</th>
                      <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let text of  Official  | paginate:{
                                      itemsPerPage: tableSize,
                                      currentPage: p,
                                      totalItems:count};">
                      <!-- <tr *ngFor="let text of  Official | paginate: { itemsPerPage: 10, currentPage: p}"> -->
                      <!-- <th scope="row">{{i + 1}}</th> -->
                      <td></td>
                      <td>{{text.seqNo}}</td>
                      <td>{{text.name}} </td>
                      <td>{{text.position}}</td>
                      <td>{{text.contact}} </td>
                      <td>{{text.term}}</td>
                      <td>
                        <button type="button" title="Edit" (click)="editModal=text" class="btn btn-info"
                          data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-edit"></i> </button>&nbsp;
                        <button type="button" title="Delete" class="btn btn-warning" (click)="delete(text)"><i
                            class="fa fa-trash"></i> </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Pagination Control -->
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

                <div class="row">
                  <div class="col-lg-12">
                    <form class="form-inline float-right ">
                      <pagination-controls previousLabel="Prev" currentPage="Next"
                        (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                      <ul>
                        <select (change)="onTableSizeChange($event)">
                          <option *ngFor="let size of tableSizes ">
                            {{size}}
                          </option>
                        </select>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal For Adding the CityOfficials -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="ModalAdd" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">City Officials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Name :</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="city.name" placeholder="">
          </div>

          <div class="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Select Position :</label>
            <!-- <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">  -->
            <select class="form-select" aria-label="Default select example" [(ngModel)]="city.seqNo">
              <option *ngFor="let item  of positions" value={{item.seqNo}}>{{item.position}}</option>

            </select>
          </div>
          <div class="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Term of Office :</label>

            <input type="text" class="form-control" name="Term" [(ngModel)]="city.term" id="Term" placeholder="">
          </div>
          <!-- <div class ="col-lg-12"><br>
           <label for="exampleFormControlTextarea1" >Position :</label>
           <input type="text" class="form-control"  name ="position" [(ngModel)]="city.position"  id="position" placeholder="">
          </div> -->


          <div class="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Contact Details :</label>
          </div>
          <div class="col-lg-12">
            <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="city.contact"
              placeholder="">
          </div>

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" *ngIf="updateOfficial" (click)= "addOfficial()"  data-dismiss="modal"><i
            class="fa fa-check"></i>Save</button>&nbsp;
        <button type="button" class="btn btn-secondary" *ngIf="updateOfficial" (click)="city={}"  data-dismiss="modal"><i
            class="fa fa-times" ></i>Cancel</button>

        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>



<!-- Modal For Update -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">UPDATE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Name :</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editModal.name" placeholder="">
            </div>

            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1"> Position :</label>
              <!-- <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">  -->
              <select class="form-select" aria-label="Default select example" [(ngModel)]="editModal.seqNo">
                <option *ngFor="let item  of positions" value={{item.seqNo}}>{{item.position}}</option>

              </select>
            </div>

            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Term of Office :</label>
              <input type="text" class="form-control" name="term" [(ngModel)]="editModal.term" id="term" placeholder="">
            </div>

            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Contact Details :</label>
            </div>

            <div class="col-lg-12">
              <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="editModal.contact"
                placeholder="">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="update();updateOfficial=true;" data-dismiss="modal"><i
              class="fa fa-edit"></i>Update</button>&nbsp;
          <button type="close" class="btn btn-secondary" data-dismiss="modal" ><i class="fa fa-times"></i>Close</button>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container" style="width: 100%; " >

  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Organization/ Staffing Pattern</h1>
</div>

    <div class="box red">
!-- <h2>Asuncion - City Officials</h2>
        <br>        <
        <form style="margin-top: -10px">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="labelForm" for="perSeqNumber">Sequence Number: </label>
                    </div>
                    <div class="col-lg-9">
                        <input class="seqInputBox" id="perSeqNumber" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="labelForm" for="perPosition">Position : </label>
                    </div>
                    <div class="col-lg-9">
                        <input class="seqInputBox" id="perPosition" type="text" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="labelForm" for="perName">Name : </label>
                    </div>
                    <div class="col-lg-9">
                        <input class="seqInputBox" id="perName" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="labelForm" for="perContactNumber">Contact Details: </label>
                    </div>
                    <div class="col-lg-9">
                        <input class="seqInputBox" id="perContactNumber" type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5">
                        <button class="button-60" role="button"><i class="fa fa-plus"><span>ADD</span></i></button>
                    </div>
                </div>
            </div>
        </form>

        <hr />
        <label class="labelTitles" for="tbl_Officials"><strong>List of Municipal Officials</strong></label>
        <div class="table-responsive" style="display:block;" id="tbl_Officials">
            <div class="my-custom-scrollbar" style="height: 50vh">
                <table class="table table-hover">
                    <thead class="tableHeader">
                        <tr class="tableHeaderText">
                            <th class="">
                                #
                            </th>
                            <th class="">
                                Position
                            </th>
                            <th>
                                Name
                            </th>
                            <th class="">
                                Contact Details
                            </th>
                            <th class="">
                            </th>

                        </tr>
                    </thead>
                    <tbody class="labelForm">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

 -->
