<div class="">

  <div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">

            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4"> Ricemills</h1>
              <label><strong>Agriculture - Municipality of {{munCityName}} </strong></label><br>

            </div>
              <div class="form-inline float-right ">
            <app-admin>
            <form class="">
              <button type="button" (click)="clearData()" class="btn btn-labeled btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Ricemills</button>
            </form>
           </app-admin>

        </div>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <p>List of Ricemills</p>
              </div>
              <div class="table-responsive">
              <table class="table table-light table-striped">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name of Ricemill</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Area</th>
                    <th scope="col">Contact Person</th>
                    <th scope="col">Contact Details</th>
                    <th scope="col">Location</th>
                    <th scope="col">Barangay</th>
                    <th scope="col">Geo-Coord.(Long,Lat)</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dataItem of dataList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{dataItem.name}}</td>
                    <td>
                      <div *ngFor="let item of listofRicemill">
                        <span *ngIf="item.id == dataItem.type">{{item.type}}</span>
                      </div>
                    </td>
                    <td>{{dataItem.capacity}}</td>
                    <td>{{dataItem.area}}</td>
                    <td>{{dataItem.contactPerson}}</td>
                    <td>{{dataItem.contactNo}}</td>
                    <td>{{dataItem.location}}</td>
                    <td>{{dataItem.brgyName}}</td>
                    <td>{{dataItem.longtitude}},<br> {{dataItem.latitude}}</td>
                    <td>
                      <app-admin>
                        <button (click)="addData = dataItem" data-toggle="modal" (click)="editToggle()"
                          data-target="#exampleModal" class="btn btn-info btn-circle">
                          <i class="fas fa-pen"></i></button>&nbsp;
                        <button (click)="SetMarker(dataItem); addData = dataItem" data-toggle="modal"
                          data-target="#gmapModal" class="btn btn-success btn-circle">
                          <i class="fas fa-globe"></i></button>&nbsp;
                        <button class="btn btn-warning btn-circle" (click)="DeleteAgriculture(dataItem)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </app-admin>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel">Ricemills</h5>
          <button type="button" #closebutton class="btn-close" data-toggle="modal" data-target="#exampleModal"
            aria-hidden="true" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-8">
                <label for="exampleFormControlInput1">Name of Ricemill :</label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.name" [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false">
              </div>
              <div class="col-lg-4">
                <label for="category">Barangay :</label>
                <!-- <label *ngIf="required" style="color: red;" for="category">&nbsp;&nbsp;<i
                    class="fas fa-asterisk"></i>Required</label> -->
                <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.brgyId" [ngClass]="toValidate.brgyId?'is-invalid':''" (ngModelChange)="toValidate.brgyId=false">
                  <option *ngFor="let item of barangayList" [value]="item.brgyId">
                    {{ item.brgyName }}
                  </option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label for="exampleFormControlInput1">Type of Ricemill :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.type" [ngClass]="toValidate.type?'is-invalid':''" (ngModelChange)="toValidate.type=false">
                  <option selected>Select Category</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-lg-4">
                <label for="exampleFormControlInput1">Capacity (M/T) :</label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.capacity" [ngClass]="toValidate.capacity?'is-invalid':''" (keyup)="toValidate.capacity=false">
              </div>
              <div class="col-lg-4">
                <label>Area (Sq/m) : </label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.area" [ngClass]="toValidate.area?'is-invalid':''" (keyup)="toValidate.area=false">
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label for="exampleFormControlInput1">Contact Person/ Designation :</label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.contactPerson">
              </div>
              <div class="col-lg-4">
                <label for="exampleFormControlInput1">Contact Details : </label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.contactNo">
              </div>
              <div class="col-lg-4">
                <label for="exampleFormControlInput1">Location (#/St./Purok) : </label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="addData.location">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-absolute" *ngIf="visible">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck">
              <label class="form-check-label" for="flexCheckDefault">
                Several data
              </label>
            </div>
          </div>
          <button type="button" *ngIf="visible" (click)="AddAgriculture()" id="closeModal" class="btn btn-primary">
            <i class="fas fa-check">&nbsp;</i>Save
          </button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
            aria-hidden="true">
            <i class="fas fa-times">&nbsp;</i>Close
          </button>
          <button type="button" *ngIf="not_visible" (click)="EditAgriculture()" data-toggle="modal"
            data-target="#exampleModal" aria-hidden="true" class="btn btn-primary">
            <i class="fas fa-edit">&nbsp;</i>UPDATE
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal area GEO -->
  <div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-gmap></app-gmap>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="EditAgriculture()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
