
<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Transport Terminals</h1>
                      </div>


                      <form class="user collapse show" id="collapseExample">
                          <div class="form-group">
                              <div class="row">

                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Company/ Organization :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Transport Type :</label>
                                      <select class="form-select" aria-label="Default select example">
                                          <option selected>Select Category</option>
                                          <option value="1">One</option>
                                          <option value="2">Two</option>
                                          <option value="3">Three</option>
                                        </select>
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >No. of Units/ Remarks :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Routes :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Contact Person/ Designation :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Contact Details :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class =""><br>
                                      <label for="exampleFormControlTextarea1" >Location (Sitio/Purok) :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class ="col-lg-4"><br>
                                      <label for="exampleFormControlTextarea1" >Geo Coordinates - Longitude:</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class ="col-lg-4"><br>
                                      <label for="exampleFormControlTextarea1" > Latitude : </label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                     </div>
                                     <div class ="col-lg-4"><br>
                                      <label for="category">Barangay :</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Category</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                     </div>
                                    </div>
                                     </div>
                                     <br>
                            <button type="button" class="btn btn-primary">ADD</button>&nbsp;

                      </form>
                      <br>
                      <div class="row">
                          <div class="col-lg-6">
                              <p>List of Transport Terminals</p>
                          </div>
                          <div class="col-lg-6 ">

                          </div>
                      </div>

                      <table class="table table-light table-striped">
                          <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Company/ Organization</th>
                                <th scope="col" >Type</th>
                                <th scope="col">No. of Units</th>
                                <th scope="col">Location</th>
                                <th scope="col">Routes</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

