<div class="">
    <div class="card o-hidden border-2 shadow-sm my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Public Health Service Workers</h1>
                            <label><strong> Health - Municipality of {{munCityName}}</strong></label><br>
                        </div>
                        <div *ngIf="!hasData" class="form-inline float-right ">
                            <app-admin>
                                <button (click)="isAdd = true;" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#mEducation">
                                    <i class="fa fa-plus"></i>
                                  Service Workers
                                </button>
                            </app-admin>
                        </div>
                        <br>&nbsp;&nbsp;
                        <div class="table-responsive">
                            <table class="table table-light table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th >ITEM</th>
                                        <th style="text-align: center;">Description/Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="col"><strong>Municipality/City:</strong></td>
                                        <td style="text-align: center;"><strong>Municipality of {{munCityName}}</strong></td>

                                    </tr>
                                    <tr>
                                        <td scope="col">No. of Barangay Health Workers:</td>
                                        <td style="text-align: center;">{{data.healthWorkersNo}}</td>

                                    </tr>
                                    <tr>
                                        <td scope="col">Doctors(MD/MHO/RHP):</td>
                                        <td style="text-align: center;">{{data.doctorsNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Public Health Nurses:</td>
                                        <td style="text-align: center;">{{data.nursesNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Rural Health Midwives:</td>
                                        <td style="text-align: center;">{{data.midwivesNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Sanitary Inspectors:</td>
                                        <td style="text-align: center;">{{data.sanitaryInsNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Medical Technologists:</td>
                                        <td style="text-align: center;">{{data.medTechNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Dentists:</td>
                                        <td style="text-align: center;">{{data.dentistNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Dental Aides:</td>
                                        <td style="text-align: center;">{{data.denAidesNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Nutritionists:</td>
                                        <td style="text-align: center;">{{data.nutriNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Traditional Birth Attendants:</td>
                                        <td style="text-align: center;">{{data.birthAttnNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Lying-in Personnel:</td>
                                        <td style="text-align: center;">{{data.lyingPerNo}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="col">Non-Technical Personnels:</td>
                                        <td style="text-align: center;">{{data.nonTechPerNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="hasData" class="form-inline float-right ">
                            <div class="d-inline-flex">
                                <app-admin>
                                    <button (click)="isAdd = false" class="btn btn-info btn-circle" data-toggle="modal"
                                        data-target="#mEducation"><i class="fa fa-pen"></i>
                                    </button>
                                    &nbsp;
                                </app-admin>
                                <app-admin>
                                    <button type="button" title="Delete" class="btn btn-warning btn-circle"
                                        (click)="DeleteHealthWorkers(data.transId)"><i class="fa fa-trash"></i>
                                    </button>
                                </app-admin>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<!-- Modal -->

<div class="modal fade" id="mEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Public Health Service Workers</h5>
                <br>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="user collapse show" id="collapseExample">

                    <div class="row">
                        <div class="col-lg-3">
                            No. of Barangay Health Workers :<br>
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder=""
                                [(ngModel)]="data.healthWorkersNo" [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*\.?\d+$"  [ngClass]="data.name?'is-invalid':''" (keyup)="data.name=false">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Doctors (MD/ MHO/ RHP) :
                        </div>
                        <div class="col-lg-9  ">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.doctorsNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Public Health Nurses :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.nursesNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Rural Health Midwives :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.midwivesNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Sanitary Inspectors :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder=""
                                [(ngModel)]="data.sanitaryInsNo" [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Medical Technologists :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.medTechNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Dentists :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.dentistNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Dental Aides :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.denAidesNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Nutritionists :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.nutriNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Traditional Birth Attendants :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder=""
                                [(ngModel)]="data.birthAttnNo" [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Lying-in Personnel :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="data.lyingPerNo"
                                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-3">
                            Non-Technical Personnels :
                        </div>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" id="" placeholder=""
                                [(ngModel)]="data.nonTechPerNo" [ngModelOptions]="{ standalone: true }"
                                pattern="^\d*\.?\d+$">
                        </div>
                    </div><br>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="isAdd? AddHealthWorkers(): EditHealthWorkers()"><i class="fa fa-check"></i>Save Changes</button>
            </div>
        </div>
    </div>
</div>



<!-- modal area -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="EditHealthWorkers()">Save changes</button>
      </div>
    </div>
  </div>
</div>
