
<div class="">

  <div class="card o-hidden border-0 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Public Health Service Workers</h1>
                      </div>


                      <form class="user collapse show" id="collapseExample">
                          <div class="column">
                                </div>
                                   <div class="row">
                                    <div class="col-lg-3">
                                       <td class="">No. of Barangay Health Workers :</td><br>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-lg-3">
                                           <td class="">Doctors (MD/ MHO/ RHP) :</td>
                                        </div>
                                        <div class="col-lg-9  ">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-lg-3">
                                               <td class="">Public Health Nurses : </td>
                                            </div>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" id="" placeholder="">
                                            </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                   <td class="">Rural Health Midwives :</td>
                                                </div>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" id="" placeholder="">
                                                </div>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                       <td class="">Sanitary Inspectors :</td>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="" placeholder="">
                                                    </div>
                                                    </div><br>
                                                    <div class="row">
                                                      <div class="col-lg-3">
                                                         <td class="">Medical Technologists :</td>
                                                      </div>
                                                      <div class="col-lg-9">
                                                          <input type="text" class="form-control" id="" placeholder="">
                                                      </div>
                                                      </div><br>
                                                      <div class="row">
                                                        <div class="col-lg-3">
                                                           <td class="">Dentists :</td>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <input type="text" class="form-control" id="" placeholder="">
                                                        </div>
                                                        </div><br>
                                                        <div class="row">
                                                          <div class="col-lg-3">
                                                             <td class="">Dental Aides :</td>
                                                          </div>
                                                          <div class="col-lg-9">
                                                              <input type="text" class="form-control" id="" placeholder="">
                                                          </div>
                                                          </div><br>
                                                          <div class="row">
                                                            <div class="col-lg-3">
                                                               <td class="">Nutritionists :</td>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" id="" placeholder="">
                                                            </div>
                                                            </div><br>
                                                            <div class="row">
                                                              <div class="col-lg-3">
                                                                 <td class="">Traditional Birth Attendants :</td>
                                                              </div>
                                                              <div class="col-lg-9">
                                                                  <input type="text" class="form-control" id="" placeholder="">
                                                              </div>
                                                              </div><br>
                                                              <div class="row">
                                                                <div class="col-lg-3">
                                                                   <td class="">Lying-in Personnel :</td>
                                                                </div>
                                                                <div class="col-lg-9">
                                                                    <input type="text" class="form-control" id="" placeholder="">
                                                                </div>
                                                                </div><br>
                                                                <div class="row">
                                                                  <div class="col-lg-3">
                                                                     <td class="">Non-Technical Personnels :</td>
                                                                  </div>
                                                                  <div class="col-lg-9">
                                                                      <input type="text" class="form-control" id="" placeholder="">
                                                                  </div>
                                                                  </div><br>

                            <button type="button" name="save" class="btn btn-primary">SAVE</button> &nbsp;
                            <button type="button" name ="reset" class="btn btn-primary">RESET</button> <br><br>

                            <table class="table table-condensed table-bordered" >
                              <thead>
                                  <tr>
                                    <th colspan  ="5" style="text-align:center">Number of Human Resources for Health</th>
                                  <tr>
                                    <td style="text-align:center;">Category</td>
                                    <td style="text-align:center;">Number of HRH</td>
                                    <td style="text-align:center;">Ratio to Population</td>
                                    <td style="text-align:center;">Average No. of HRH to meet the standard (DOH Target)</td>
                                    <td style="text-align:center;">National Standard Ratio (DOH)</td>

                                  </tr>
                                  </thead>
                                  <tbody>
                                  <td> </td>
                                  <td></td>
                                  <td></td>


                                 </tbody>
                                 </table>

                      </form>

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
