<div class="">
  <div
    class="card o-hidden border-2 shadow-sm my-5"
    style="border-color: #4e73df; background-color: #f8f9fc"
  >
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center mb-4">
              <h1 class="h4 card-header-title">Rain-Induced Landslide</h1>
              <label
                ><strong
                  >Provincial Development and Physical Framework Plan</strong
                ></label
              >
            </div>
            <div class="row mb-3">
              <div class="col-lg-12">
                <p class="section-label">📍 List of Municipalities</p>
              </div>
            </div>

            <div class="table-responsive">
              <table class="styled-lightdark-table">
                <thead class="table-dark">
                  <tr>
                    <th class="text-center" rowspan="2">Municipality/City</th>
                    <th class="text-center" colspan="3">
                      Susceptibility (has.)
                    </th>
                    <th class="text-center" rowspan="2">Action</th>
                  </tr>
                  <tr>
                    <th class="text-center">High</th>
                    <th class="text-center">Moderate</th>
                    <th class="text-center">Low</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of listData; index as i">
                    <td class="text-center">
                      <b>{{ item.munCityName }}</b>
                    </td>
                    <td class="text-center">{{ item.high }}</td>
                    <td class="text-center">{{ item.moderate }}</td>
                    <td class="text-center">{{ item.low }}</td>

                    <td
                      *ngIf="
                        item.transId && item.munCityId == o_munCityId;
                        else isADD
                      "
                    >
                      <app-admin>
                        <div class="d-inline-flex">
                          <button
                            (click)="data = item; isAdd = false"
                            class="btn btn-info btn-circle"
                            data-toggle="modal"
                            data-target="#openModal"
                          >
                            <i class="fa fa-pen"></i>
                          </button>
                          &nbsp;
                          <button
                            type="button"
                            title="Delete"
                            class="btn btn-warning btn-circle"
                            (click)="DeleteData(item.transId, i, item)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </app-admin>
                    </td>

                    <ng-template #isADD>
                      <td>
                        <app-admin>
                          <button
                            *ngIf="item.munCityId == o_munCityId"
                            (click)="data = item; isAdd = true"
                            class="btn btn-primary btn-circle"
                            data-toggle="modal"
                            data-target="#openModal"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                        </app-admin>
                      </td>
                    </ng-template>
                  </tr>

                  <!-- Total Row -->
                  <tr class="font-weight-bold">
                    <td class="text-center"><b>Davao del Norte (Total)</b></td>
                    <td class="text-center">
                      <b>{{ getTotal("high") }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ getTotal("moderate") }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ getTotal("low") }}</b>
                    </td>
                    <td class="text-center"><b></b></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="modal fade bd-example-modal-lg"
              id="openModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                      Susceptibility in has
                    </h5>
                    <button
                      #closeMunicipalityBtn
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="high">High:</label>
                            <input
                              type="number"
                              class="form-control"
                              id="high"
                              placeholder="Enter value"
                              [(ngModel)]="data.high"
                              [ngModelOptions]="{ standalone: true }"
                              pattern="^\d*\.?\d+$"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="moderate">Moderate:</label>
                            <input
                              type="number"
                              class="form-control"
                              id="moderate"
                              placeholder="Enter value"
                              [(ngModel)]="data.moderate"
                              [ngModelOptions]="{ standalone: true }"
                              pattern="^\d*\.?\d+$"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="low">Low:</label>
                            <input
                              type="number"
                              class="form-control"
                              id="low"
                              placeholder="Enter value"
                              [(ngModel)]="data.low"
                              [ngModelOptions]="{ standalone: true }"
                              pattern="^\d*\.?\d+$"
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-dismiss="modal"
                    >
                      <i class="fa fa-times"></i> Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="isAdd ? AddData() : EditData()"
                    >
                      <i class="fa fa-save"></i> Save Changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
