<body class="bg">
  <div
    class="container min-vh-100 d-flex align-items-center justify-content-center"
  >
    <!-- Outer Row -->

    <div class="row justify-content-center w-100">
      <div class="col-xl-9 col-lg-5 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5 box">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div
                class="col-lg-6 d-none d-lg-block"
                style="
                  background-image: url('assets/img/logo.png');
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                "
              ></div>

              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <img
                      src="assets/img/seps.png"
                      style="height: 80px; margin-right: 10px"
                      alt="SEPS Logo"
                    />
                  </div>
                  <br />
                  <form class="user">
                    <div class="form-group">
                      <div
                        class="bg-error-light text-center text-danger error-dialog"
                        *ngIf="errorLogin.length > 0"
                      >
                        <div>Invalid Username or Password.</div>
                      </div>
                      <input
                        type="text"
                        class="form-control form-control-user input"
                        [(ngModel)]="user.username"
                        name="username"
                        placeholder="Enter Username..."
                        required
                      />
                    </div>

                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control form-control-user input"
                        [(ngModel)]="user.password"
                        name="password"
                        id="exampleInputPassword"
                        placeholder="Password"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck"
                        />
                        <label class="custom-control-label" for="customCheck"
                          >Remember Me</label
                        >
                      </div>
                    </div>

                    <button
                      (click)="signIn()"
                      class="btn btn-primary btn-user btn-block"
                      [disabled]="isLogin"
                    >
                      <ng-container *ngIf="isLogin; else login">
                        <div
                          class="spinner-border spinner-border-sm"
                          role="status"
                        >
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        Loading...
                      </ng-container>
                      <ng-template #login>Login</ng-template>
                    </button>

                    <hr />

                    <button class="btn btn-google btn-user btn-block" #loginRef>
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </button>
                  </form>
                  <hr />
                  <div class="text-center">
                    <a class="small" routerLink="/Update-User/update_user"
                      >Forgot Password?</a
                    >
                  </div>
                  <div class="text-center">
                    <span class="small">Don't have an account? </span>
                    <a class="small" routerLink="/register"
                      >Create an account</a
                    >
                  </div>

                  <br />
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center">
                      <img
                        src="assets/img/pilipinas.png"
                        style="height: 70px; margin-right: 10px"
                        alt="SEPS Logo"
                      />
                    </div>
                    <div class="text-center">
                      <img
                        src="assets/img/one.png"
                        style="height: 60px; margin-left: 10px"
                        alt="SEPS Logo"
                      />
                    </div>
                    <div class="text-center">
                      <img
                        src="assets/img/ppdo.png"
                        style="height: 60px; margin-left: 10px"
                        alt="SEPS Logo"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  .bg {
    background-image: url("assets/img/doms.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .box {
    border-radius: 35px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 25px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 30px 60px rgba(0, 0, 0, 0.25);
  }

  .input {
    border: 4px solid #e5e5e5;
    border-bottom-width: 2px;
    box-shadow: 0 -2px 0px rgba(4, 4, 4, 0.19) inset,
      0 3px 6px rgba(214, 214, 214, 0.3);
    border-radius: 30px;
  }
</style>
