
<div class="">

  <div class="card o-hidden border-0 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Provincial Health Profile</h1>
                      </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-lg-6">
                            <p>Summary of General Health Profile</p>
                        </div>
                         </div>

                      <table class="table table-light table-striped">
                          <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Municipality/ City</th>
                                <th scope="col">Crude Birth Rate</th>
                                <th scope="col">Crude Death Rate</th>
                                <th scope="col">Maternal Death</th>
                                <th scope="col">Infant Mortality Rate</th>

                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>



