<section>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-b">
          <h1>GAD</h1>
          <div class="card-back">
            <a href="https://davnorsystems.gov.ph/gad/login">Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-a">
          <h1>SEPS</h1>
          <div class="card-back">
            <a routerLink="/login/login">Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="cover item-c">
          <h1>GIS</h1>
          <div class="card-back">
            <a href="http://172.16.19.108/gis/">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
