<div class="">

    <div class="card o-hidden border-0 shadow-sm my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="py-5 px-5">
                        <div class="">
                            <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                        </div>
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Major Economic Activities</h1>
                        </div>
                        <form class="user collapse show" id="collapseExample">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Economic Activity:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                              </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Brief Description:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <button type="button" class="btn btn-primary">ADD</button>

                        </form>
                        <br>
                        <p>List of Major Economic Activities: </p>
                        <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Major Activity</th>
                                  <th scope="col">Brief Description	</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr></tr>
                                <td></td>
                                <td></td>
                              </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
