<div class="">
  <ng-template #isEmpty>
    <app-import [data]="message" (importData)="importMethod()"></app-import>
    <app-export-excel apiControllerName="MjrEcoAct"></app-export-excel>
    <app-import-excel (myEvent)="ImportExcel($event)"></app-import-excel>
  </ng-template>

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <div *ngIf="MajorAct.length>0; else isEmpty" class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="">
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Major Economic Activities</h1>
              <label><strong>Trade and Industry - {{modifyCityMun(munCityName)}} </strong></label><br>
            </div>
            <br>
            <div class="x-space-between">
              <div class="x-space-between">
                <app-export-excel apiControllerName="MjrEcoAct"></app-export-excel>&nbsp;
                <app-import-excel (myEvent)="ImportExcel($event)"></app-import-excel>
              </div>
              <div class="x-space-between">
                <form class=>
                  <app-admin>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i
                        class="fa fa-plus"></i>
                      Major Economic Activities
                    </button>
                  </app-admin>
                </form>
                &nbsp;
                <app-pdf (myEvent)="GeneratePDF()"></app-pdf>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <p>List of Major Economic Activities </p>
              </div>
              <!-- <div class="col-lg-6 ">
                              <form class="form-inline float-right">
                                <div class="form-group mb-4">
                                  <input type="search input"  class="form-control" width="30%" placeholder="Search" (input)="onChangeSearch($event)"> <label for="" class="btn btn-primary"> <i class="fas fa-search fa-2x"></i></label>

                                </div>
                              </form>
                        </div> -->
            </div>
            <div class="form-group">
              <div class="row">
                <div class="row">
                </div>
                <div class="table-responsive">
                  <div class="input-group col-sm-3">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchText">
                  </div>
                  <br>
                  <table class="table table-framed table-hover table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th></th>
                        <th scope="col" class="text-center">Major Activity</th>
                        <th scope="col" class="text-center">Brief Description</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let text of MajorAct | search: searchText | paginate:{ itemsPerPage: tableSize,
              currentPage: p,
              totalItems:count} | filterall: searchText , let i = index ">
                        <td>{{ i + 1 }}</td>
                        <td>{{text.mjrActivity}}</td>
                        <td class="text-center" align="justify" width="60%">{{text.description}}</td>
                        <td class="text-center">
                          <div class="d-inline-flex" class="form-inline float-right">
                            <app-admin>
                              <button type="button" title="Edit" (click)="editmodal=text"
                                class="btn btn-info btn-circle" data-toggle="modal" data-target="#ModalEdit"><i
                                  class="fa fa-pen"></i> </button>
                            </app-admin>&nbsp;
                            <app-admin>
                              <button type="button" title="Delete" (click)="delete(text.transId,i)"
                                class="btn btn-warning btn-circle"><i class="fa fa-trash"></i> </button>
                            </app-admin>
                          </div>
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <!--Sources-->
                  <!-- ✅ Add Source Form -->
                  <app-admin>
                    <div *ngIf="showAddForm" class="card mt-4">
                      <div class="card-header bg-dark text-white">
                        Add Source
                      </div>
                      <div class="card-body">
                        <form (ngSubmit)="addSource()" #sourceForm="ngForm">
                          <div class="form-group">
                            <label for="sourceName">Source Name</label>
                            <input
                              type="text"
                              id="sourceName"
                              class="form-control"
                              name="sourceName"
                              [(ngModel)]="newSource.name"
                              placeholder="Enter source name"
                              required
                            />
                          </div>
                          <button
                            class="btn btn-primary mt-2"
                            [disabled]="!sourceForm.valid"
                          >
                            <i class="fas fa-plus"></i> Add
                          </button>
                        </form>
                      </div>
                    </div>
                  </app-admin>

                  <!-- ✅ Display Each Source -->
                  <div class="card mt-3" *ngFor="let source of sources">
                    <div class="card-body text-start">
                      <h5 class="card-title mb-2">Source: {{ source.name }}</h5>

                      <!-- ✏️ Edit Mode -->
                      <div
                        *ngIf="selectedSourceId === source.id; else viewMode"
                      >
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="newSource.name"
                          placeholder="Edit source name"
                        />
                        <div class="mt-2">
                          <app-admin>
                            <button
                              class="btn btn-success btn-sm me-1"
                              (click)="updateSource()"
                              title="Save"
                            >
                              <i class="fas fa-check"></i>
                            </button>
                            <button
                              class="btn btn-secondary btn-sm"
                              (click)="selectedSourceId = null"
                              title="Cancel"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </app-admin>
                        </div>
                      </div>

                      <!-- 👁️ View Mode -->

                      <ng-template #viewMode>
                        <app-admin>
                          <button
                            class="btn btn-outline-dark btn-sm me-2"
                            (click)="editSource(source)"
                            title="Edit"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-outline-danger btn-sm"
                            (click)="deleteSource(source.id)"
                            title="Delete"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </app-admin>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <!-- Pagination Control -->
                <div class="row">
                  <div class="col-lg-12">
                    <form class="form-inline float-right ">
                      <pagination-controls previousLabel="Prev" currentPage="Next"
                        (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                      <ul>
                        <select (change)="onTableSizeChange($event)">
                          <option *ngFor="let size of tableSizes ">
                            {{size}}
                          </option>
                        </select>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD MODAL -->
  <div class="modal fade bd-example-modal-lg" id="ModalAdd" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Major Economic Activities</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="row">
              <div class="col-lg-12"><br>
                <label for="exampleFormControlTextarea1">Major Activity:</label>
                <input type="text" class="form-control" id="" name="" [(ngModel)]="mjr.mjrActivity" placeholder=""
                  [ngClass]="toValidate.mjrActivity?'is-invalid':''" (keyup)="toValidate.mjrActivity=false">
              </div>
              <div class="col-lg-12">
                <label for="exampleFormControlTextarea1">Description:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" [(ngModel)]="mjr.description"
                  [ngClass]="toValidate.description?'is-invalid':''" (keyup)="toValidate.description=false"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-absolute" *ngIf="visible">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck">
              <label class="form-check-label" for="flexCheckDefault">
                Several data
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)=" AddMajorAct()"><i
              class="fa fa-check"></i>Save</button>&nbsp;
          <!-- <button type ="button" class="btn btn-secondary" *ngIf="updateOfficial" (click) ="city={}"><i class="fa fa-times"></i>Cancel</button> -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- edit (Modal) -->
  <div class="modal fade bd-example-modal-lg" id="ModalEdit" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Major Economic Activities</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Major Activity:</label>
              <input type="text" class="form-control" id="" name="" [(ngModel)]="editmodal.mjrActivity" placeholder=""
                [ngClass]="toValidate.mjrActivity?'is-invalid':''" (keyup)="toValidate.mjrActivityo=false">
            </div>
            <div class="col-lg-12">
              <label for="exampleFormControlTextarea1">Description:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                [(ngModel)]="editmodal.description" [ngClass]="toValidate.description?'is-invalid':''"
                (keyup)="toValidate.description=false"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="UpdateMajorAct()"> <i class="fa fa-check"></i>Save
                Changes</button>&nbsp;
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                  class="fa fa-times"></i>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>