<div class="">
  <ng-template #isEmpty>
    <app-import
      [data]="message"
      (testEvent)="parentMethod()"
      (importData)="importMethod()"
    ></app-import>
    <app-export-excel apiControllerName="Benificiaries"></app-export-excel>
    <app-import-excel (myEvent)="ImportExcel($event)"></app-import-excel>
  </ng-template>

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <div
    *ngIf="IPlist?.length > 0; else isEmpty"
    class="card o-hidden border-2 shadow-sm my-5"
  >
    <!-- *ngIf="ProOfficial.length > 0 ; else isEmpty" -->
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="">
              <!-- <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                                <i class="fa fa-minus" aria-hidden="true"></i>
  
                              </button> -->
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">
                Population of Indigenous People
              </h1>
            </div>
            <div class="x-space-between" *ngIf="isBarangay">
              <div class="x-space-between">
                <app-export-excel
                  apiControllerName="Benificiaries"
                ></app-export-excel>
                <app-import-excel
                  (myEvent)="ImportExcel($event)"
                ></app-import-excel>
              </div>
            </div>
            <div class="form-inline float-right" *ngIf="isBarangay">
              <app-admin>
                <button
                  class="btn btn-success mb-3"
                  (click)="addToggle()"
                  data-toggle="modal"
                  data-target="#ModalAdd"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </app-admin>
              &nbsp;
              <!-- <app-pdf></app-pdf> -->
            </div>
            <br />
            <div class="row">
              <div class="col-lg-8">
                <br />
                <p>List of Population of Indigenous People:</p>
              </div>
            </div>
            <ul class="nav nav-tabs pb-2">
              <li class="nav-item" (click)="handleOnTabChange(true)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="isBarangay ? 'active fw-bold' : ''"
                  aria-current="page"
                  >Barangay
                </a>
              </li>
              <li class="nav-item" (click)="handleOnTabChange(false)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="!isBarangay ? 'active fw-bold' : ''"
                  >Purok / Sitio</a
                >
              </li>
            </ul>
            <div class="form-group" *ngIf="isBarangay">
              <div class="row">
                <div class="row"></div>
                <div class="table-responsive">
                  <table class="table table-light table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col" rowspan="2">#</th>
                        <th scope="col" rowspan="2" class="text-center">
                          Barangay
                        </th>
                        <th scope="col" colspan="2" class="text-center">
                          Non-IP Population
                        </th>
                        <th scope="col" colspan="2" class="text-center">
                          IP Population
                        </th>
                        <th scope="col" colspan="2" class="text-center">
                          No. of Population OverAll
                        </th>
                        <th scope="col" rowspan="2"></th>
                      </tr>
                      <tr>
                        <th class="text-center">Male</th>
                        <th class="text-center">Female</th>
                        <th class="text-center">Male</th>
                        <th class="text-center">Female</th>
                        <th class="text-center">Non-IP Population</th>
                        <th class="text-center">IP Population</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let a of IPlist
                            | search : searchText
                            | paginate
                              : {
                                  itemsPerPage: tableSize,
                                  currentPage: p,
                                  totalItems: count
                                };
                          let i = index
                        "
                      >
                        <td>{{ i + 1 }}</td>
                        <td class="text-center">{{ a.brgyName }}</td>
                        <td class="text-center">{{ a.non_Ip_Male }}</td>
                        <td class="text-center">{{ a.non_Ip_Female }}</td>
                        <td class="text-center">{{ a.ip_Male }}</td>
                        <td class="text-center">{{ a.ip_Female }}</td>
                        <td class="text-center">{{ a.overall_nonIp }}</td>
                        <td class="text-center">{{ a.overAll_ip }}</td>
                        <td>
                          <div class="d-inline-flex">
                            <app-admin>
                              <button
                                (click)="editToggle(a)"
                                data-toggle="modal"
                                data-target="#ModalAdd"
                                class="btn btn-info btn-circle"
                              >
                                <i class="fa fa-pen"></i>
                              </button>
                            </app-admin>
                            <app-admin>
                              <button
                                type="button"
                                title="Delete"
                                class="btn btn-warning btn-circle"
                                (click)="delete(a.transId, i)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </app-admin>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--Sources-->
                  <!-- ✅ Add Source Form -->
                  <app-admin>
                    <div *ngIf="showAddForm" class="card mt-4">
                      <div class="card-header bg-dark text-white">
                        Add Source
                      </div>
                      <div class="card-body">
                        <form (ngSubmit)="addSource()" #sourceForm="ngForm">
                          <div class="form-group">
                            <label for="sourceName">Source Name</label>
                            <input
                              type="text"
                              id="sourceName"
                              class="form-control"
                              name="sourceName"
                              [(ngModel)]="newSource.name"
                              placeholder="Enter source name"
                              required
                            />
                          </div>
                          <button
                            class="btn btn-primary mt-2"
                            [disabled]="!sourceForm.valid"
                          >
                            <i class="fas fa-plus"></i> Add
                          </button>
                        </form>
                      </div>
                    </div>
                  </app-admin>

                  <!-- ✅ Display Each Source -->
                  <div class="card mt-3" *ngFor="let source of sources">
                    <div class="card-body text-start">
                      <h5 class="card-title mb-2">Source: {{ source.name }}</h5>

                      <!-- ✏️ Edit Mode -->
                      <div
                        *ngIf="selectedSourceId === source.id; else viewMode"
                      >
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="newSource.name"
                          placeholder="Edit source name"
                        />
                        <div class="mt-2">
                          <app-admin>
                            <button
                              class="btn btn-success btn-sm me-1"
                              (click)="updateSource()"
                              title="Save"
                            >
                              <i class="fas fa-check"></i>
                            </button>
                            <button
                              class="btn btn-secondary btn-sm"
                              (click)="selectedSourceId = null"
                              title="Cancel"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </app-admin>
                        </div>
                      </div>

                      <!-- 👁️ View Mode -->

                      <ng-template #viewMode>
                        <app-admin>
                          <button
                            class="btn btn-outline-dark btn-sm me-2"
                            (click)="editSource(source)"
                            title="Edit"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            class="btn btn-outline-danger btn-sm"
                            (click)="deleteSource(source.id)"
                            title="Delete"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </app-admin>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <!-- Pagination Control -->
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

                <div class="row">
                  <div class="col-lg-12">
                    <form class="form-inline float-right">
                      <pagination-controls
                        previousLabel="Prev"
                        currentPage="Next"
                        (pageChange)="onTableDataChange($event)"
                      >
                      </pagination-controls>
                      <ul>
                        <select (change)="onTableSizeChange($event)">
                          <option *ngFor="let size of tableSizes">
                            {{ size }}
                          </option>
                        </select>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--purok-->
            <div class="table-responsive" *ngIf="!isBarangay">
              <div class="container py-3">
                <div class="accordion" id="faq">
                  <div
                    class="card mb-2"
                    *ngFor="let barangay of listPrkBrgy; index as i"
                  >
                    <!-- Accordion Header -->
                    <div
                      class="card-header d-flex justify-content-between align-items-center cursor-pointer"
                      [id]="'faqhead' + i"
                      (click)="toggleAccordion(i)"
                      [attr.aria-expanded]="isAccordionOpen[i]"
                      [attr.aria-controls]="'faq' + i"
                    >
                      <h5 class="mb-0 font-weight-bold">
                        {{ barangay.brgyName }}
                      </h5>
                      <i
                        class="fa"
                        [ngClass]="{
                          'fa-chevron-down': !isAccordionOpen[i],
                          'fa-chevron-up': isAccordionOpen[i]
                        }"
                      ></i>
                    </div>

                    <!-- Accordion Body -->
                    <div
                      [id]="'faq' + i"
                      class="collapse"
                      [class.show]="isAccordionOpen[i]"
                      [attr.aria-labelledby]="'faqhead' + i"
                      data-parent="#faq"
                    >
                      <div class="card-body">
                        <!-- Add Button -->
                        <div
                          class="d-flex justify-content-between align-items-center mb-3"
                        >
                          <button
                            type="button"
                            class="btn btn-sm btn-primary rounded-circle"
                            data-toggle="modal"
                            (click)="addToggle()"
                            data-target="#ModalAdd2"
                            (click)="data.brgyId = barangay.brgyId"
                            title="Add Purok"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                          <!-- Placeholder for future tools like export/PDF -->
                          <!-- <app-export-excel apiControllerName="PurokChair"></app-export-excel> -->
                        </div>

                        <!-- Purok Table -->

                        <div class="table-responsive">
                          <table class="table table-hover table-striped">
                            <thead class="table-dark">
                              <!-- First header row -->
                              <tr>
                                <th scope="col" rowspan="2" class="text-center">
                                  #
                                </th>
                                <th scope="col" rowspan="2" class="text-center">
                                  Purok / Sitio
                                </th>
                                <th scope="col" colspan="2" class="text-center">
                                  Non-IP Population
                                </th>
                                <th scope="col" colspan="2" class="text-center">
                                  IP Population
                                </th>
                                <th scope="col" colspan="2" class="text-center">
                                  No. of Population Overall
                                </th>
                                <th scope="col" rowspan="2" class="text-center">
                                  Actions
                                </th>
                              </tr>
                              <!-- Second header row -->
                              <tr>
                                <th class="text-center">Male</th>
                                <th class="text-center">Female</th>
                                <th class="text-center">Male</th>
                                <th class="text-center">Female</th>
                                <th class="text-center">Non-IP</th>
                                <th class="text-center">IP</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr
                                *ngFor="
                                  let purok of barangay.purokChairman;
                                  let i = index
                                "
                              >
                                <td class="text-center">{{ i + 1 }}</td>
                                <td class="text-center">
                                  {{ purok.purokName }}
                                </td>

                                <!-- Non-IP -->
                                <td class="text-center">
                                  {{ purok.prk_male_non | number }}
                                </td>
                                <td class="text-center">
                                  {{ purok.prk_female_non }}
                                </td>

                                <!-- IP -->
                                <td class="text-center">
                                  {{ purok.purok_MaleIP }}
                                </td>
                                <td class="text-center">
                                  {{ purok.purok_FemaleIP }}
                                </td>

                                <!-- Totals -->
                                <td class="text-center">
                                  {{ purok.prk_non_ip_overall }}
                                </td>
                                <td class="text-center">
                                  {{ purok.prk_ip_overall }}
                                </td>

                                <!-- Actions -->
                                <td class="text-center">
                                  <div class="btn-group" role="group">
                                    <button
                                      class="btn btn-sm btn-info"
                                      (click)="editToggle(purok)"
                                      data-toggle="modal"
                                      data-target="#ModalAdd2"
                                      title="Edit"
                                    >
                                      <i class="fa fa-pen"></i>
                                    </button>
                                    <button
                                      class="btn btn-sm btn-warning"
                                      (click)="
                                        DeleteData(purok.transId, i, purok)
                                      "
                                      title="Delete"
                                    >
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--prkip-->
<!-- ModalAdd2 -->
<div
  class="modal fade bd-example-modal-lg"
  id="ModalAdd2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purok / Sitio</h5>
        <button
          #closebutton
          type="button"
          class="close"
          data-dismiss="modal"
          data-target="#exampleModal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Name of Purok / Sitio -->
          <div class="col-lg-12">
            <label>Name of Purok / Sitio:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.purokName"
            />
          </div>

          <!-- Category Tabs -->
          <div class="col-lg-12 mt-3">
            <ul class="nav nav-tabs" id="categoryTabs2">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="ip-tab2"
                  data-toggle="tab"
                  href="#ip2"
                  >Indigenous People (IP)</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="non-ip-tab2"
                  data-toggle="tab"
                  href="#non-ip2"
                  >Non-Indigenous People (Non-IP)</a
                >
              </li>
            </ul>
          </div>

          <!-- Tab Content -->
          <div class="tab-content col-lg-12 mt-2">
            <!-- IP Section -->
            <div class="tab-pane fade show active" id="ip2">
              <label for="ip-male">IP Male:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="data.purok_MaleIP"
                (input)="autoAssignCategory()"
                (input)="calculateTotals()"
              />
              <label for="ip-female">IP Female:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="data.purok_FemaleIP"
                (input)="autoAssignCategory()"
                (input)="calculateTotals()"
              />

              <label for="ip-total">IP Overall Total:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.prk_ip_overall"
              />
            </div>

            <!-- Non-IP Section -->
            <div class="tab-pane fade" id="non-ip2">
              <label for="non-ip-male">Non-IP Male:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.prk_male_non"
                (input)="autoAssignCategory()"
                (input)="calculateTotals()"
              />
              <label for="non-ip-female">Non-IP Female:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.prk_female_non"
                (input)="autoAssignCategory()"
                (input)="calculateTotals()"
              />

              <label for="non-ip-total">Non-IP Overall Total:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.prk_non_ip_overall"
              />
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="col-lg-12">
            <div class="modal-footer">
              <!-- Add Mode Buttons -->
              <ng-container *ngIf="!isEditMode">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="saveDataIP()"
                  id="closeModal"
                >
                  <i class="fa fa-check"></i> Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close
                </button>
              </ng-container>

              <!-- Edit Mode Buttons -->
              <ng-container *ngIf="isEditMode">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="EditPrk()"
                  aria-hidden="true"
                >
                  <i class="fas fa-edit"></i> Save Changes
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  aria-hidden="true"
                >
                  <i class="fas fa-times"></i> Cancel
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add (Modal)barangay -->
<!-- ModalAdd -->
<div
  class="modal fade bd-example-modal-lg"
  id="ModalAdd"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Population of Indigenous People
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Barangay Selection -->
          <div class="col-lg-12">
            <label for="barangay">Barangay:</label>
            <select class="form-select" [(ngModel)]="data.brgyId">
              <option *ngFor="let item of barangayList" [value]="item.brgyId">
                {{ item.brgyName }}
              </option>
            </select>
          </div>

          <!-- Category Tabs -->
          <div class="col-lg-12 mt-3">
            <ul class="nav nav-tabs" id="categoryTabs1">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#ipTab"
                  >Indigenous People (IP)</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nonIpTab"
                  >Non-Indigenous People (Non-IP)</a
                >
              </li>
            </ul>
          </div>

          <!-- Tab Content -->
          <div class="tab-content col-lg-12 mt-2">
            <!-- IP Section -->
            <div class="tab-pane fade show active" id="ipTab">
              <label for="ip-male">IP Male:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.ip_Male"
                (input)="autoAssignCategory()"
              />

              <label for="ip-female">IP Female:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.ip_Female"
                (input)="autoAssignCategory()"
              />

              <label for="ip-total">IP Overall Total:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.overAll_ip"
              />
            </div>

            <!-- Non-IP Section -->
            <div class="tab-pane fade" id="nonIpTab">
              <label for="non-ip-male">Non-IP Male:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.non_Ip_Male"
                (input)="autoAssignCategory()"
              />

              <label for="non-ip-female">Non-IP Female:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.non_Ip_Female"
                (input)="autoAssignCategory()"
              />

              <label for="non-ip-total">Non-IP Overall Total:</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="data.overall_nonIp"
              />
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="col-lg-12 mt-4">
            <div class="modal-footer">
              <!-- Add Mode Buttons -->
              <ng-container *ngIf="!isEditMode">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="saveData()"
                >
                  <i class="fa fa-check"></i> Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  <i class="fa fa-times"></i> Close
                </button>
              </ng-container>

              <!-- Edit Mode Buttons -->
              <ng-container *ngIf="isEditMode">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="EditIp()"
                >
                  <i class="fas fa-edit"></i> Save Changes
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  <i class="fas fa-times"></i> Cancel
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
