<div class="">
  <ng-template #isEmpty>
    <app-import
      [data]="message"
      (importData)="importMethod()"
      (testEvent)="parentMethod()"
    ></app-import>
    <app-export-excel apiControllerName="Barangay"></app-export-excel>
  </ng-template>

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <div
    *ngIf="viewData; else isEmpty"
    class="card o-hidden border-2 shadow-sm my-5"
  >
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Barangay Officials</h1>
              <label
                ><strong
                  >Governance - {{ modifyCityMun(munCityName) }} - Barangay
                  Officials</strong
                ></label
              ><br />
            </div>
            <div class="x-space-between" *ngIf="isBarangay">
              <div class="x-space-between">
                <app-export-excel
                  apiControllerName="Barangay"
                ></app-export-excel>
              </div>
              <div class="x-space-between">
                <app-admin>
                  <app-pdf (myEvent)="GeneratePDF()"></app-pdf>
                </app-admin>
              </div>
            </div>
            <br />
            <div class="input-group col-sm-3">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
                [(ngModel)]="searchText"
              />
            </div>
            <div class="row">
              <div class="col-lg-9">
                <br />
                <p>List of Barangays</p>
              </div>
            </div>
            <ul class="nav nav-tabs pb-2">
              <li class="nav-item" (click)="handleOnTabChange(true)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="isBarangay ? 'active fw-bold' : ''"
                  aria-current="page"
                  >Barangay
                </a>
              </li>
              <li class="nav-item" (click)="handleOnTabChange(false)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="!isBarangay ? 'active fw-bold' : ''"
                  >Purok Chairman</a
                >
              </li>
            </ul>
            <div class="form-group" *ngIf="isBarangay">
              <div class="row">
                <div class="row"></div>
                <div class="table-responsive">
                  <br />
                  <table class="table table-framed table-hover table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Barangay</th>
                        <th scope="col">Punong Barangay</th>
                        <!-- <th scope="col">Land Area</th> -->
                        <th scope="col">Barangay Location</th>
                        <th scope="col">Contact Details</th>
                        <!-- <th scope="col">No. of Puroks</th> -->
                        <th scope="col">Geo-Coord.</th>
                        <th width="8%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of listData | search : searchText;
                          index as i
                        "
                      >
                        <td>
                          <b>{{ item.brgyName }}</b>
                        </td>
                        <td>{{ item.punongBrgy }}</td>
                        <!-- <td>{{item.landArea}}</td> -->
                        <td>{{ item.address }}</td>
                        <td>{{ item.contactNo }}</td>
                        <!-- <td>{{item.purokNo}}</td> -->
                        <td>
                          <span *ngIf="item.longitude || item.latitude">
                            {{ item.longitude }},<br />
                            {{ item.latitude }}
                          </span>
                        </td>
                        <td *ngIf="item.transId; else isADD">
                          <div class="d-inline-flex">
                            <app-admin>
                              <button
                                (click)="data = item; isAdd = false"
                                class="btn btn-info btn-circle"
                                data-toggle="modal"
                                data-target="#openModal"
                              >
                                <i class="fa fa-pen"></i>
                              </button> </app-admin
                            >&nbsp;
                            <button
                              (click)="SetMarker(item)"
                              class="btn btn-success btn-circle"
                              role="button"
                              (click)="data = item"
                              data-toggle="modal"
                              data-target="#gmapModal"
                            >
                              <i class="fa fa-globe"> </i></button
                            >&nbsp;
                            <app-admin>
                              <button
                                type="button"
                                title="Delete"
                                class="btn btn-warning btn-circle"
                                (click)="DeleteData(item.transId, i, item)"
                              >
                                <i class="fa fa-trash"></i></button
                              >&nbsp;
                            </app-admin>
                          </div>
                        </td>
                        <ng-template #isADD>
                          <td>
                            <app-admin>
                              <button
                                (click)="data = item; isAdd = true"
                                type="button"
                                class="btn btn-primary btn-circle"
                                data-toggle="modal"
                                data-target="#openModal "
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </app-admin>
                          </td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-----------------------Purok Chairmanskie---------------------------->
            <div class="table-responsive" *ngIf="!isBarangay">
              <div id="main">
                <div class="container">
                  <div class="accordion" id="faq">
                    <div
                      class="card"
                      *ngFor="let barangay of listPrkBrgy; index as i"
                    >
                      <div class="card-header" [id]="'faqhead' + i">
                        <a
                          href="#"
                          class="btn btn-header-link"
                          (click)="toggleAccordion(i); $event.preventDefault()"
                          [attr.aria-expanded]="isAccordionOpen[i]"
                          [attr.aria-controls]="'faq' + i"
                        >
                          <b>{{ barangay.brgyName }}</b>
                        </a>
                      </div>

                      <div
                        [id]="'faq' + i"
                        class="collapse"
                        [class.show]="isAccordionOpen[i]"
                        [attr.aria-labelledby]="'faqhead' + i"
                        data-parent="#faq"
                      >
                        <div class="card-body">
                          <button
                            type="button"
                            class="btn btn-primary btn-circle"
                            data-toggle="modal"
                            data-target="#ModalAdd2"
                            (click)="data.brgyId = barangay.brgyId"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                          <div class="x-space-between">
                            <div class="x-space-between">
                              <!-- <app-export-excel
                                apiControllerName="PurokChair"
                              ></app-export-excel> -->
                            </div>
                            <!-- <div class="x-space-between">
                            <app-admin>
                              <app-pdf (myEvent)="GeneratePDF()"></app-pdf>
                            </app-admin>
                          </div> -->
                          </div>
                          <br />
                          <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                              <tr>
                                <!-- <th class="text-center">Barangay1</th> -->
                                <th class="text-center">Name of Purok</th>
                                <th class="text-center">Male</th>
                                <th class="text-center">Female</th>
                                <th class="text-center">Population</th>
                                <th class="text-center"># of Households</th>
                                <th class="text-center">
                                  Distance from Poblacion (km)
                                </th>
                                <th class="text-center">Area (Has)</th>
                                <th class="text-center">Purok Chairman</th>
                                <th class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Loop through purokChairs for the current barangay -->
                              <tr *ngFor="let purok of barangay.purokChairman">
                                <!-- <td>
                                <b>{{ barangay.brgyName }}</b>
                              </td> -->
                                <td class="text-center">
                                  {{ purok.nameOfPurok }}
                                </td>
                                <td class="text-center">
                                  {{ purok.male }}
                                </td>
                                <td class="text-center">
                                  {{ purok.female }}
                                </td>
                                <td class="text-center">
                                  {{ purok.population }}
                                </td>
                                <td class="text-center">
                                  {{ purok.noOfHouse }}
                                </td>
                                <td class="text-center">
                                  {{ purok.disFromBarangay }}
                                </td>
                                <td class="text-center">
                                  {{ purok.area }}
                                </td>
                                <td class="text-center">
                                  {{ purok.purokChair }}
                                </td>
                                <td class="text-center">
                                  <div class="btn-group" role="group">
                                    <button
                                      class="btn btn-sm btn-info"
                                      data-toggle="modal"
                                      (click)="editPrk = purok"
                                      data-target="#ModalEdit"
                                      title="Edit"
                                    >
                                      <i class="fa fa-pen"></i>
                                    </button>
                                    <button
                                      class="btn btn-sm btn-warning"
                                      title="Delete"
                                      (click)="
                                        DeletePrk(purok.transId, i, purok)
                                      "
                                    >
                                      <i class="fa fa-trash"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    id="openModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">
            Barangay Officials
          </h5>
          <button
            type="button"
            #closebutton
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <label> Barangay:</label>
              <input
                type="text"
                class="form-control mb-2"
                [(ngModel)]="data.brgyName"
                readonly
              />
            </div>
            <div class="col-lg-12">
              <label>Punong Barangay:</label>
              <input
                type="text"
                class="form-control mb-2"
                [(ngModel)]="data.punongBrgy"
                [ngClass]="toValidate.punongBrgy ? 'is-invalid' : ''"
                (keyup)="toValidate.punongBrgy = false"
              />
            </div>
            <div class="col-lg-12">
              <label>Contact Number:</label>
              <input
                type="text"
                class="form-control mb-2"
                [(ngModel)]="data.contactNo"
              />
            </div>
            <div class="col-lg-12">
              <label>Location of Barangay Hall:</label>
              <input
                type="text"
                class="form-control mb-2"
                [(ngModel)]="data.address"
                [ngClass]="toValidate.address ? 'is-invalid' : ''"
                (keyup)="toValidate.address = false"
              />
            </div>
            <div class="col-lg-12">
              <label>Number of Puroks:</label>
              <input
                type="number"
                class="form-control mb-2"
                [(ngModel)]="data.purokNo"
                [ngClass]="toValidate.purokNo ? 'is-invalid' : ''"
                (keyup)="toValidate.purokNo = false"
              />
            </div>
            <div class="col-lg-12">
              <label>Barangay Land Area (HAS):</label>
              <input
                type="number"
                class="form-control mb-2"
                [(ngModel)]="data.landArea"
              />
            </div>
            <br /><br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="isAdd ? AddData() : EditData()"
            >
              <i class="fa fa-check"></i> Save Changes
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              <i class="fa fa-time"></i>Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---edit Modal for purok-->
  <div
    class="modal fade bd-example-modal-lg"
    id="ModalEdit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Purok</h5>
          <button
            type="button"
            #closebutton
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-12">
                <label>Name of Purok:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.nameOfPurok"
                />
              </div>
              <div class="col-lg-12">
                <label>Population:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.population"
                />
              </div>
              <div class="col-lg-12">
                <label>Male:</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.male"
                />
              </div>
              <div class="col-lg-12">
                <label>female:</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.female"
                />
              </div>
              <div class="col-lg-12">
                <label># of Households:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.noOfHouse"
                />
              </div>
              <div class="col-lg-12">
                <label>Distance from Poblacion (km):</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.disFromBarangay"
                />
              </div>
              <div class="col-lg-12">
                <label>Area (Has):</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.area"
                />
              </div>
              <div class="col-lg-12">
                <label>Purok Chairman:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="editPrk.purokChair"
                />
              </div>
              <br /><br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                (click)="EditPrk()"
                id="closeModal"
              >
                <i class="fa fa-check"></i> Save Changes
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                data-target="#exampleModal"
              >
                <i class="fa fa-time"></i>Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Add purok Chair-->
  <!-- (click)="isAdd ? AddData() : EditData()"-->
  <div
    class="modal fade bd-example-modal-lg"
    id="ModalAdd2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Purok</h5>
          <button
            type="button"
            #closebutton
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-12">
                <label>Name of Purok:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.nameOfPurok"
                />
              </div>
              <div class="col-lg-12">
                <label>Population:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.population"
                />
              </div>
              <div class="col-lg-12">
                <label>Male:</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="data.male"
                />
              </div>
              <div class="col-lg-12">
                <label>female:</label>
                <input
                  type="number"
                  class="form-control mb-2"
                  [(ngModel)]="data.female"
                />
              </div>
              <div class="col-lg-12">
                <label># of Households:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.noOfHouse"
                />
              </div>
              <div class="col-lg-12">
                <label>Distance from Poblacion (km):</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.disFromBarangay"
                />
              </div>
              <div class="col-lg-12">
                <label>Area (Has):</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.area"
                />
              </div>
              <div class="col-lg-12">
                <label>Purok Chairman:</label>
                <input
                  type="text"
                  class="form-control mb-2"
                  [(ngModel)]="data.purokChair"
                />
              </div>
              <br /><br />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                (click)="AddPrkChair()"
                id="closeModal"
              >
                <i class="fa fa-check"></i> Save
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                data-target="#exampleModal"
              >
                <i class="fa fa-time"></i>Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Prk Editassssssssssssssssssss-->
  </div>
  <!-- gmap modal area -->
  <div
    class="modal fade"
    id="gmapModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            SEPS GEOLOCATION TAGGING
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-gmap></app-gmap>
        </div>
        <div class="modal-footer">
          <app-admin>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="EditData()">
              Save changes
            </button>
          </app-admin>
        </div>
      </div>
    </div>
  </div>
  <style>
    #main {
      margin: 50px 0;
    }

    #main #faq .card {
      margin-bottom: 30px;
      border: 0;
    }

    #main #faq .card .card-header {
      border: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Reduced shadow */
      border-radius: 2px;
      padding: 0;
      background: #f0f0f0; /* Light gray background for header */
    }

    #main #faq .card .card-header .btn-header-link {
      color: #333; /* Darker text for better readability */
      display: block;
      text-align: left;
      background: #e0e0e0; /* Slightly darker background */
      padding: 15px; /* Reduced padding */
    }

    #main #faq .card .card-header .btn-header-link:after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      float: right;
    }

    #main #faq .card .card-header .btn-header-link.collapsed {
      background: #cccccc; /* Gray background for collapsed state */
      color: #000; /* Dark text */
    }

    #main #faq .card .card-header .btn-header-link.collapsed:after {
      content: "\f106";
    }

    #main #faq .card .collapsing {
      background: #e0e0e0; /* Consistent background color */
      line-height: 30px;
    }

    #main #faq .card .collapse {
      border: 0;
    }

    #main #faq .card .collapse.show {
      background: #f0f0f0; /* Light gray for open state */
      line-height: 30px;
      color: #333; /* Darker text */
    }
  </style>
</div>
