<div class="">
  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <!-- <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>
                            </button> -->
                      </div>
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Barangay Officials</h1>
                        <label><strong>Governance - Municipality of {{ViewBarangayOfficial.munCityName}} - Barangay Officials</strong></label><br>
                    </div>
                      <br>

<div class ="row">
  <div class="col-lg-9"><br>
    <p>List of Barangays</p>
  </div>
  <div class ="col-lg-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i class="fa fa-plus"></i>
      Barangays Officials
    </button>
  </div>
 </div>


 <div class="form-group">
  <div class ="row">
    <div class="row">

      </div>
      <table class="table table-framed table-hover table-striped">
        <thead class = "table-dark">
            <tr>
              <th scope="col">Barangay</th>
              <th scope="col">Punong Barangay</th>
              <th scope="col">Land Area</th>
              <th scope="col" >Barangay Location</th>
              <th scope="col">Contact Number </th>
              <th scope="col">No.of Puroks</th>
              <th scope="col">Geo-Coord.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let text of  ViewBarangayOfficial | paginate:{
              itemsPerPage: tableSize,
              currentPage: p,
              totalItems:count};">

              <td>{{text.brgyName}}</td>
              <td>{{text.punongBrgy}}</td>
              <td>{{text.landArea}}</td>
              <td>{{text.address}} </td>
              <td>{{text.contactNo}}</td>
              <td>{{text.purokNo}}</td>
              <td>{{text.longitude}},<br> {{text.latitude}}</td>
              <td>
                <button type="button" title="Edit" (click)="editmodal=text" class="btn btn-info" data-toggle="modal" data-target="#ModalEdit" ><i class="fa fa-edit"></i> </button>&nbsp;
                <!-- <button type="button" title="Delete" class="btn btn-warning" ><i class="fa fa-trash"></i>  </button> -->
                <button onclick="initialize()" class="button-60" role="button" (click)="editmodal=text"  data-toggle="modal" data-target="#exampleModal"><i style="color:blue" class="fa fa-globe"></i></button>

              </td>
            </tr>
          </tbody>
      </table>
    <!-- Pagination Control -->

    <div class = "row">
      <div class="col-lg-12">
      <form class="form-inline float-right ">
      <pagination-controls
      previousLabel="Prev"
      currentPage="Next"
      (pageChange) ="onTableDataChange($event)">
      </pagination-controls>
      <ul>
      <select (change)="onTableSizeChange($event)">
        <option *ngFor = "let size of tableSizes ">
           {{size}}
        </option>
         </select>
        </ul>
   </form>
</div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal Edit Barangay Officials-->

<div class="modal fade bd-example-modal-lg" id ="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-scrollable" role="document"> -->
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Update your Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class ="col-lg-12"><br>
            <label for="category">Barangay :</label>
            <select class="form-select" aria-label="Default select example">
                <option selected *ngFor="let text of ViewBarangayOfficial">{{text.brgyName}}</option>

              </select>
           </div> -->

           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Punong Barangay:</label>
            <input type="text" class="form-control" id="punongBrgy"  name ="punongBrgy" [(ngModel)]="editmodal.punongBrgy" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Contact Number:</label>
            <input type="text" class="form-control" id="contactNo"  name ="contactNo" [(ngModel)]="editmodal.contactNo" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Location of Barangay Hall:</label>
            <input type="text" class="form-control" id="address"  name ="address"[(ngModel)]="editmodal.address" placeholder="">
           </div>

           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Number of Puroks:</label>
            <input type="number" class="form-control" id="purokNo"  name ="purokNo" [(ngModel)]="editmodal.purokNo" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Barangay Land Area (HAS):</label>
            <input type="number" class="form-control" id="landArea"  name ="landArea" [(ngModel)]="editmodal.landArea" placeholder="">
           </div><br><br>
           <label class="labelTitles">Barangay Hall Geographic Coordinates:</label><br>
          <div class ="col-lg-12"><br>
      <label for="exampleFormControlTextarea1">Longitude:</label>
      <input type="number" class="form-control" id="longitude"  name ="longitude" [(ngModel)]="editmodal.longitude" placeholder="">
     </div>
     <div class ="col-lg-12"><br>
      <label for="exampleFormControlTextarea1" >Latitude:</label>
      <input type="number" class="form-control" id="latitude" name = "latitude" [(ngModel)] ="editmodal.latitude" placeholder="">
     </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateM();UpdateBarangay=true; "><i class="fa fa-check"></i>Save</button>&nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
    </div>
  </div>
</div>


<!-- modal area -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="brgyName" style="margin-right: 5px;" id ="enme">Location</label>
            <!-- <input id="enme" name="brgyName" class="seqInputBox" type="text"> -->
          </div>
          <!-- MAP AREA  -->
          <div>
            <div id="map_canvas" style="border:1px  solid #000; height:460px;width:720px; margin:auto; " ></div>
            <p> <label> Longitude : </label>
              <input type="number" name="longtxt" id="longtxt" [(ngModel)]="editmodal.longitude" onchange="manualMarker(this.value)" #long />  </p>
			<p><label> Latitude :  </label>
         <input type="number" name="lattxt" id="lattxt" [(ngModel)]="editmodal.latitude" onchange="manualMarker(this.value)" #lat  />   </p>
				<input name="fld_id" type="hidden" value="rec_id" />
				<input name="id" type="hidden" value="570" />

				<input name="tbl" type="hidden" value="admins_bgychairs" />
				<input name="bgy" type="hidden" id = "bgy" value="Binancian, Asuncion, Davao del Norte" />
				<input name="ref" type="hidden" value="" />
			<!-- <p>
				<input type="submit" name="submit" id="submit" value="Tag" class="btnStyle" style="width:80px; " />
				<input type="button" VALUE="Back" onClick ="location.href = '  '" class="btnStyle" style="width:75px;" />
			</p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"   (click)="updateM();UpdateBarangay=true;" >Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- ADD Barangay Officials-->

<div class="modal fade bd-example-modal-lg" id ="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-scrollable" role="document"> -->
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Update your Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class ="col-lg-12"><br>
            <label for="category">Barangay :</label>
            <select class="form-select" aria-label="Default select example">
                <option selected *ngFor="let text of ViewBarangayOfficial" >{{text.brgyName}}</option>
              </select>
           </div>

           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Punong Barangay:</label>
            <input type="text" class="form-control" id="punongBrgy"  name ="punongBrgy" [(ngModel)]="barangay.punongBrgy" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Contact Number:</label>
            <input type="text" class="form-control" id="contactNo"  name ="contactNo" [(ngModel)]="barangay.contactNo" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Location of Barangay Hall:</label>
            <input type="text" class="form-control" id="address"  name ="address"[(ngModel)]="barangay.address" placeholder="">
           </div>

           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Number of Puroks:</label>
            <input type="number" class="form-control" id="purokNo"  name ="purokNo" [(ngModel)]="barangay.purokNo" placeholder="">
           </div>
           <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Barangay Land Area (HAS):</label>
            <input type="number" class="form-control" id="landArea"  name ="landArea" [(ngModel)]="barangay.landArea" placeholder="">
           </div><br><br>
           <label class="labelTitles">Barangay Hall Geographic Coordinates:</label><br>
          <div class ="col-lg-12"><br>
      <label for="exampleFormControlTextarea1">Longitude:</label>
      <input type="number" class="form-control" id="longitude"  name ="longitude" [(ngModel)]="barangay.longitude" placeholder="">
     </div>
     <div class ="col-lg-12"><br>
      <label for="exampleFormControlTextarea1" >Latitude:</label>
      <input type="number" class="form-control" id="latitude" name = "latitude" [(ngModel)] ="barangay.latitude" placeholder="">
     </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="AddBarangay()"><i class="fa fa-check"></i>Save</button>&nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
    </div>
  </div>
</div>


<!-- modal area -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="brgyName" style="margin-right: 5px;" id ="enme">Location</label>
            <!-- <input id="enme" name="brgyName" class="seqInputBox" type="text"> -->
          </div>
          <!-- MAP AREA  -->
          <div>
            <div id="map_canvas" style="border:1px  solid #000; height:460px;width:720px; margin:auto; " ></div>
            <p> <label> Longitude : </label>
              <input type="number" name="longtxt" id="longtxt" [(ngModel)]="editmodal.longitude" onchange="manualMarker(this.value)" #long />  </p>
			<p><label> Latitude :  </label>
         <input type="number" name="lattxt" id="lattxt" [(ngModel)]="editmodal.latitude" onchange="manualMarker(this.value)" #lat  />   </p>
				<input name="fld_id" type="hidden" value="rec_id" />
				<input name="id" type="hidden" value="570" />

				<input name="tbl" type="hidden" value="admins_bgychairs" />
				<input name="bgy" type="hidden" id = "bgy" value="Binancian, Asuncion, Davao del Norte" />
				<input name="ref" type="hidden" value="" />
			<!-- <p>
				<input type="submit" name="submit" id="submit" value="Tag" class="btnStyle" style="width:80px; " />
				<input type="button" VALUE="Back" onClick ="location.href = '  '" class="btnStyle" style="width:75px;" />
			</p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"   (click)="updateM();UpdateBarangay=true;" >Save changes</button>
        </div>
      </div>
    </div>
  </div>

