
<div class="">
  <ng-template #isEmpty>
    <div class="center-div">
      <div class="row">
        <div class="col-lg-12">
          <img src="assets/img/empty-box.png" class="rounded mx-auto d-block" height="200">

        </div>
        <div class="col-lg-12">
          <p class="text-center text-lg text-primary font-weight-bold">NO DATA FOUND.</p>
        </div>
        <div class="col-lg-12 text-center p-lg-2">
          <button class="btn btn-primary">
            Import
          </button>
        </div>
        <div class="col-lg-12 text-center">
          <p class="text-center text-sm text-gray-800 font-weight-normal">
            Press the button above to import SEP Data from previous year.
          </p>
        </div>
        <!-- <app-admin>
        <div class="col-lg-12 text-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i class="fa fa-plus"></i>
            Provincial Officials
          </button>
        </div>
      </app-admin> -->
      </div>
    </div>
  </ng-template>

  <div  class="card o-hidden border-2 shadow-sm my-5">
    <!-- *ngIf="ProOfficial.length > 0 ; else isEmpty" -->
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <!-- <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button> -->
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4"> Provincial Officials</h1>
                          <label><strong>Governance -  Provincial Officials</strong></label><br>
                      </div>


                     <div class ="row">
                      <div class="col-lg-10"><br>
                        <p>List of Provincial Officials:</p>
                      </div>
                      <div class ="col-lg-2">
                        <app-admin>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAdd "><i class="fa fa-plus"></i>
                          Provincial Officials
                        </button>
                      </app-admin>
                      </div>
                     </div>

                          <div class="form-group">
                            <div class ="row">
                              <div class="row">

                                </div>
                                <div class="table-responsive">
                               <table class="table table-framed table-hover table-striped">
                                <thead class="table-dark">
                                    <tr>

                                      <th scope="col">#</th>
                                      <th scope="col">Name</th>
                                      <th scope="col" class="text-center">Position</th>
                                      <th scope="col">Contact Details</th>
                                      <th scope="col">Term of Office</th>
                                      <th width ="8%"></th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let text of  ProOfficial | paginate:{
                                      itemsPerPage: tableSize,
                                      currentPage: p,
                                      totalItems:count} let i =index;">
                                   <!-- <tr *ngFor="let text of  Official | paginate: { itemsPerPage: 10, currentPage: p}"> -->
                                      <!-- <th scope="row">{{i + 1}}</th> -->
                                      <td>{{i + 1}}</td>
                                      <td>{{text.name}} </td>
                                      <td class="text-center">{{text.position}}</td>
                                      <td>{{text.contact}} </td>
                                      <td>{{text.term}}</td>
                                      <td>
                                        <div class="d-inline-flex">

                                        <app-admin>
                                        <button type="button" title="Edit" (click)="editModal=text" class="btn btn-info btn-circle" data-toggle="modal" data-target="#exampleModalLong" ><i class="fa fa-pen"></i> </button>&nbsp;
                                      </app-admin>&nbsp;
                                      <app-admin>
                                        <button type="button" title="Delete" class="btn btn-warning btn-circle"  (click)="delete(text)"><i class="fa fa-trash"></i>  </button>
                                      </app-admin>
                                      </div>
                                      </td>
                                    </tr>
                                  </tbody>
                               </table>
                            </div>
                              <!-- Pagination Control -->
                              <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

     <div class = "row">
      <div class="col-lg-12">
      <form class="form-inline float-right ">
      <pagination-controls
      previousLabel="Prev"
      currentPage="Next"
      (pageChange) ="onTableDataChange($event)">
      </pagination-controls>
      <ul>
      <select (change)="onTableSizeChange($event)">
        <option *ngFor = "let size of tableSizes ">
           {{size}}
        </option>
         </select>
        </ul>
   </form>
</div>
</div>




                            </div>
                             </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal For Adding the CityOfficials -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg"id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Provincial Officials</h5>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
<!--
          <div class ="col-lg-12"><br>
           <label for="exampleFormControlTextarea1" >Sequence Number :</label>
           <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">
          </div> -->

          <!-- <div class ="col-lg-12"><br>
           <label for="exampleFormControlTextarea1" >Position :</label>
           <input type="text" class="form-control"  name ="position" [(ngModel)]=" Prov.position"  id="position" placeholder="">
          </div> -->
          <div class="col-lg-12"><br>
            <label for="exampleFormControlTextarea1">Select Position :</label>
            <!-- <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">  -->
            <select class="form-select" aria-label="Default select example" [(ngModel)]="Prov.seqNo" [ngClass]="toValidate.seqNo?'is-invalid':''" (ngModelChange)="toValidate.seqNo=false">
              <option *ngFor="let item  of positions" value={{item.seqNo}}>{{item.position}}</option>

            </select>
          </div>

          <div class ="col-lg-12"><br>
           <label for="exampleFormControlTextarea1"  >Name :</label>
           <input type="text" class="form-control" id="name" name = "name" [(ngModel)]=" Prov.name" placeholder="" [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false">
          </div>
          <div class ="col-lg-12"><br>
           <label for="exampleFormControlTextarea1" >Contact Details :</label>
          </div>
          <div class ="col-lg-12">
           <input type="text" class="form-control" id="contact"  name ="contact" [(ngModel)]=" Prov.contact" placeholder="">
          </div>

          <div class ="col-lg-12"><br>
            <label for="exampleFormControlTextarea1" >Term of Office :</label>
            <input type="text" class="form-control" name ="Term" [(ngModel)]=" Prov.term" id="Term" placeholder="">
           </div>

         </div>
      </div>
      <div class="modal-footer">
        <div class="left-absolute" *ngIf="visible">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                  (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck">
              <label class="form-check-label" for="flexCheckDefault">
                  Several data
              </label>
          </div>
      </div>

        <button type="button" class="btn btn-primary" *ngIf="updateOfficial" (click)="addOfficial()"><i class="fa fa-check"></i>Save</button>&nbsp;
        <button type ="button" class="btn btn-secondary" *ngIf="updateOfficial" (click) ="Prov={}"><i class="fa fa-times"></i>Close</button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>



<!-- Modal For Update -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Provincial Officials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class ="row">
          </div>
          <div class="row">

            <!-- <div class ="col-lg-6"><br>
              <label for="exampleFormControlTextarea1" >Sequence Number :</label>
              <input type="text" class="form-control" name ="seqNo" [(ngModel)]="editModal.seqNo" id="SeqNum" placeholder="">
             </div> -->



             <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Select Position :</label>
              <!-- <input type="text" class="form-control" name ="seqNo" [(ngModel)]="city.seqNo" id="SeqNum" placeholder="">  -->
              <select class="form-select" aria-label="Default select example" [(ngModel)]="editModal.seqNo"   [ngClass]="toValidate.seqNo?'is-invalid':''" (ngModelChange)="toValidate.seqNo=false">
                <option *ngFor="let item  of positions" value={{item.seqNo}}>{{item.position}}</option>

              </select>
            </div>

             <div class ="col-lg-12"><br>
              <label for="exampleFormControlTextarea1"  >Name :</label>
              <input type="text" class="form-control" id="name" name = "name" [(ngModel)]="editModal.name" placeholder=""  [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false">
             </div>

             <div class ="col-lg-12"><br>
              <label for="exampleFormControlTextarea1" >Contact Details :</label>
             </div>
             <div class ="col-lg-12">
              <input type="text" class="form-control" id="contact"  name ="contact" [(ngModel)]="editModal.contact" placeholder="">
             </div>
             <div class ="col-lg-12"><br>
              <label for="exampleFormControlTextarea1" >Term of Office :</label>
              <input type="text" class="form-control" name ="term" [(ngModel)]= "editModal.term"  id="term" placeholder="">
             </div>


                  </div>
                   </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()" ><i class="fa fa-check"></i>Save changes</button>&nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>

      </div>
    </div>
  </div>
</div>
</div>
