<div class="">
  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                      </div>
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Industrial Estates</h1>
                    </div>
                      <br>
                      <div class ="form-inline float-right ">
                        <form class=>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal"><i class="fa fa-plus"></i>
                           Industrial Estates
                          </button>
                        </form>
                      </div><br><br>
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>List of Industrial Estates	</p>
                            </div>
                            <div class="col-lg-6 ">
                                  <form class="form-inline float-right">
                                    <div class="form-group mb-4">
                                      <input type="search input"  class="form-control" width="30%" placeholder="Search" (input)="onChangeSearch($event)"> <label for="" class="btn btn-primary"> <i class="fas fa-search fa-2x"></i></label>

                                    </div>
                                  </form>
                            </div>
                             </div>

                             <table class="table table-framed table-hover table-striped" >
                              <thead class = "table-dark">
                                <tr>
                                  <th></th>
                                  <th scope="col" class="text-center">Name of Industrial Estate	</th>
                                  <th scope="col" class="text-center">Contact Person/ Designation</th>
                                  <th scope="col" class="text-center">Contact Numbers</th>
                                  <th scope="col" class="text-center">Area (Has)</th>
                                  <th scope="col" class="text-center">No. of Locators</th>
                                  <th scope="col" class="text-center">Location</th>
                                  <th scope="col" class="text-center">Barangay</th>
                                  <th scope="col" class="text-center">Geo-Coord. (Long, Lat)</th>
                                  <th scope="col" class="text-center" >Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr *ngFor="let text of Industrial | paginate:{ itemsPerPage: tableSize2,
                                  currentPage: p2,
                                  totalItems:count2} | filterall: searchText , let i = index ">
                                                           -->
                                                           <tr *ngFor="let text of Industrial; let i = index ">
                                                            <td>{{i + 1}}</td>
                                  <td class="text-center">{{text.name}}</td>
                                  <td class="text-center">{{text.contactPerson}}</td>
                                  <td class="text-center">{{text.contactNo}}</td>
                                  <td class="text-center">{{text.area}}</td>
                                  <td class="text-center">{{text.locatorsNo}}</td>
                                  <td class="text-center">{{text.location}}</td>
                                  <td class="text-center">{{text.brgyName}}</td>
                                  <td class="text-center">{{text.longtitude}},<br>{{text.latitude}}</td>
                                  <td>
                                    <button type="button"  title="Edit" (click)="editmodal=text" class="btn btn-info" data-toggle="modal" data-target="#ModalEdit" ><i class="fa fa-edit"></i></button>&nbsp;
                                    <button (click)="SetMarker(text)" class="btn btn-success" role="button" (click)="editmodal=text" data-toggle="modal" data-target="#gmapModal"><i class="fa fa-globe"> </i> </button>&nbsp;
                                    <button type="button" title="Delete" class="btn btn-warning" (click)="delete_Industrial(text.transId,i)"><i class="fa fa-trash"></i>  </button>&nbsp;

                                  </td>
                                </tr>
                              </tbody>
                          </table>
    <!-- Pagination Control -->
    <!-- <div class = "row">
      <div class="col-lg-12">
      <form class="form-inline float-right ">
      <pagination-controls
      previousLabel="Prev"
      currentPage="Next"
      (pageChange) ="onTableDataChange2($event)">
      </pagination-controls>
      <ul>
      <select (change)="onTableSizeChange2($event)">
        <option *ngFor = "let size of tableSizes2 ">
           {{size}}
        </option>
         </select>
        </ul>
   </form>
</div>
</div> -->

    <!-- ADD MODAL -->
  <div class="modal fade bd-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog modal-dialog-scrollable" role="document"> -->
      <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Industrial Estates
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <div class="row">
                  <div class="col-lg-12">
                      <label for="validationServer03">Name of Industrial Estate :</label>
                      <input type="text" class="form-control" [ngClass]="toValidate.name?'is-invalid':''" id="validationServer03" placeholder="" [(ngModel)]="industrial.name"  [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false" >
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-6">
                    <label for="exampleFormControlInput1" >Contact Person/ Designation :</label>
                    <input type="text" class="form-control" name="industrial.contactPerson" [ngClass]="toValidate.contactPerson?'is-invalid':''"  (keyup)="toValidate.contactPerson=false" id="" placeholder=""[(ngModel)]="industrial.contactPerson">
                  </div>
                  <div class="col-lg-6">
                    <label for="category">Barangay :</label>
                    <select class="form-select" aria-label="Default select example" [ngClass]="toValidate.brgyId?'is-invalid':''" (ngModelChange)="toValidate.brgyId=false" [(ngModel)]="industrial.brgyId" >
                     <option *ngFor="let item  of barangays" value={{item.brgyId}}>{{item.brgyName}}</option>
                     </select>
                      </div>
              </div>
             </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="exampleFormControlInput1">Contact Numbers :</label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="industrial.contactNo"  [ngClass]="toValidate.contactNo?'is-invalid':''" (keyup)="toValidate.contactNo=false">
            </div>
            <div class="col-lg-6">
              <label for="exampleFormControlInput1">Area (Has):</label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="industrial.area" [ngClass]="toValidate.area?'is-invalid':''" (keyup)="toValidate.area=false">
            </div>
            </div><br>
            <div class="row">
              <div class="col-lg-6">
                  <label>No. of. Locators :</label>
                  <input type="text" class="form-control" id="" placeholder=""[(ngModel)]="industrial.locatorsNo" [ngClass]="toValidate.locatorsNo?'is-invalid':''" (keyup)="toValidate.locatorsNo=false">
              </div>
              <div class="col-lg-6">
                  <label>Location (#/Bldg/St./Purok) :</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="industrial.location">
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-6">
                  <label>Geo Coordinates - Longitude:</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="industrial.longtitude">
               </div>
              <div class="col-lg-6">
                  <label for="type">Latitude : </label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="industrial.latitude">
                 </div>


            </div>
              .......
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="Add_Industrial()"  id="close" ><i class="fa fa-check"></i>Save</button>&nbsp;
          <!-- <button type ="button" class="btn btn-secondary" *ngIf="updateOfficial" (click) ="city={}"><i class="fa fa-times"></i>Cancel</button> -->
          <button type="button" id="close" class="btn btn-secondary" >Close</button>
        </div>
      </div>
    </div>
  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- edit (Modal) -->
<div class="modal fade bd-example-modal-lg" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-dialog-scrollable" role="document"> -->
    <div class="modal-dialog modal-lg"   role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Industrial Estates
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-12">
                  <label for="exampleFormControlInput1">Name of Industrial Estate :</label>
                  <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.name">
              </div>
              </div>
              <div class="row">
              <div class="col-lg-6">
                <label for="exampleFormControlInput1">Contact Person/ Designation :</label>
                <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.contactPerson">
              </div>
              <div class="col-lg-6">
                <label for="category">Barangay :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="editmodal.brgyId" >
                 <option *ngFor="let item  of barangays" value={{item.brgyId}}>{{item.brgyName}}</option>
                 </select>
                  </div>
          </div>
         </div>
        <div class="row">
          <div class="col-lg-6">
            <label for="exampleFormControlInput1">Contact Numbers :</label>
            <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.contactNo">
        </div>
        <div class="col-lg-6">
          <label for="exampleFormControlInput1">Area (Has):</label>
          <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.area">
        </div>
        </div><br>
        <div class="row">
          <div class="col-lg-6">
              <label>No. of. Locators :</label>
              <input type="text" class="form-control" id="" placeholder=""[(ngModel)]="editmodal.locatorsNo">
          </div>
          <div class="col-lg-6">
              <label>Location (#/Bldg/St./Purok) :</label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.location">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-6">
              <label>Geo Coordinates - Longitude:</label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.longtitude">
           </div>
          <div class="col-lg-6">
              <label for="type">Latitude : </label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="editmodal.latitude">
             </div>


        </div>
            .....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="Update_Industrial()"  data-dismiss="modal" ><i class="fa fa-check"></i>Save</button>&nbsp;
        <!-- <button type ="button" class="btn btn-secondary" *ngIf="updateOfficial" (click) ="city={}"><i class="fa fa-times"></i>Cancel</button> -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<!-- modal area -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="Update_Industrial()">Save changes</button>
      </div>
    </div>
  </div>
</div>


