<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="">
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Persons with Disability</h1>


            </div>
            <app-admin>
              <button type="button" (click)="clearData()" class="btn btn-labeled btn-success" data-toggle="modal"
                data-target="#exampleModal">
                <span class="btn-label"><i class="fa fa-check"></i></span>Add
              </button>
            </app-admin>
            <br>
            <label>Count of Persons with Disability per Barangay </label>
            <table class="table table-light table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Barangay</th>
                  <th scope="col" style="text-align: center;">Type of Disability</th>
                  <th scope="col" style="text-align: center;">Count</th>
                  <th scope="col" style="text-align: center;">Remarks</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of dataList; let i = index;">
                  <td style="text-align: center;">{{ i + 1 }}</td>
                  <td style="text-align: center;">{{ dataItem.brgyName }}</td>
                  <td style="text-align: center;">{{ dataItem.type }}</td>
                  <td style="text-align: center;">{{ dataItem.total }}</td>
                  <td style="text-align: center;">{{ dataItem.remarks }}</td>
                  <td style="text-align: center;">
                    <app-admin>
                      <div class="d-inline-flex">
                        <app-admin>
                          <button (click)="addData = dataItem" data-toggle="modal" (click)="editToggle()" data-target="#exampleModal" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                          </button>
                        </app-admin>
                        &nbsp;
                        <app-admin>
                          <button class="btn btn-danger" (click)="DeleteHealthHandicap(dataItem)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </app-admin>
                      </div>
                    </app-admin>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Persons with Disability</h5>
        <button type="button" #closebutton class="btn-close" data-toggle="modal" data-target="#exampleModal"
        aria-hidden="true" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <label for="category">Barangay :</label>
              <label *ngIf="required" style="color: red" for="category">&nbsp;&nbsp;<i
                  class="fas fa-asterisk"></i>Required</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.brgyId">
                <option *ngFor="let item of barangayList" [value]="item.brgyId">
                  {{ item.brgyName }}
                </option>
              </select>
              </div>
              <div class="col-lg-6">
                <label for="exampleFormControlInput1">Type of Disability :</label>
                <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.type"
                 pattern="^\d*\.?\d+$">
              </div>
          </div>
          <br />
          <div class="form-group">
            <div class="">
              <div class="row">
                <div class="col-lg-12">
                  <label for="exampleFormControlInput1">Count :</label>
                  <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.total"
                    [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
                </div>
                <div class="col-lg-12"><br>
                  <label for="exampleFormControlTextarea1">Remarks :</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="addData.remarks"
                    [ngModelOptions]="{ standalone: true }"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <div class="left-absolute" *ngIf="visible">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
              (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck" />
            <label class="form-check-label" for="flexCheckDefault">
              Several data
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
          aria-hidden="true">
          <i class="fas fa-times">&nbsp;</i>Close
        </button>
        <button type="button" *ngIf="visible" (click)="AddHealthHandicap()" id="closeModal" class="btn btn-success">
          <i class="fas fa-hospital">&nbsp;</i>ADD
        </button>
        <button type="button" *ngIf="not_visible" (click)="EditHealthHandicap()" data-toggle="modal"
          data-target="#exampleModal" aria-hidden="true" class="btn btn-primary">
          <i class="fas fa-edit">&nbsp;</i>UPDATE
        </button>
      </div>
    </div>
  </div>
</div>