
<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4"> Physical / Geographic Profile</h1>
                      </div>
                      <br>
                    <form class= "user collapse show" id="collapseExample">
                    <label class="labelTitles"><strong>1. Existing Land Use - Municipality of Asuncion</strong></label>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_TLandArea">Total Land Area (Has): </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_TLandArea" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_1AsOfYear">As of Year : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_1AsOfYear" type="text" >
                                </div>
                            </div>
                            <label class="labelTitles"><strong>Area in Hectares</strong></label>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_residential">a. Residential : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_residential" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Commercial">b. Commercial: </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_Commercial" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Industrial">c. Industrial : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_Industrial" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Agricultural">d. Agricultural: </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_Agricultural" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Institutional">e. Institutional : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_Institutional" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_ForestLands">f. Forest Lands : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_ForestLands" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_OpenSpaces">g. Open Spaces : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_OpenSpaces" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Fishpond">h. Fishpond : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_Fishpond" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_QuarryAreas">i. Quarry Areas : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_QuarryAreas" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_OtherUses">j. Other Uses : </label>
                                </div>
                                <div class="col-lg-9">
                                    <textarea class="seqTextArea" id="geo_OtherUses" type="text" rows="3"></textarea>
                                </div>
                            </div>

                            <label class="labelTitles"><strong>2. Land Reclassification</strong></label>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_TAreaReclassified">Total Area Reclassified : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_TAreaReclassified" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_2AsOfYear">As of Year : </label>
                                </div>
                                <div class="col-lg-9">
                                    <input class="seqInputBox" id="geo_2AsOfYear" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="labelForm" for="geo_Remarks">Remarks : </label>
                                </div>
                                <div class="col-lg-9">
                                    <textarea class="seqTextArea" id="geo_Remarks" type="text" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-1">
                                    <button class="button-60" role="button"><i class="fa fa-plus"><span> SAVE</span></i></button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="button-60" role="button"><i class="fa fa-plus"><span>RESET</span></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                  </div>
              </div>

          </div>

      </div>
  </div>

</div>


