<div class="">
  <div class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4"> SPED Enrollments</h1>
              <label><strong>Education - {{modifyCityMun(munCityName)}} </strong></label><br>

            </div>
            <div class="form-inline float-right ">
              <app-admin>
                <button (click)="isAdd = true; school = {}" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#mEducation">
                  <i class="fa fa-plus"></i>
                  Schools
                </button>
              </app-admin>
            </div>
            <br>
            <label>List of SPED Enrollments</label>
            <div class="table-responsive">
              <table class="table table-light table-striped">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">School ID#</th>
                    <th scope="col">Name of School</th>
                    <th scope="col">Area of Exceptionality </th>
                    <th scope="col">Gr. 1-6 (M) </th>
                    <th scope="col">Gr. 1-6 (F) </th>
                    <th scope="col">Non-Graded (M) </th>
                    <th scope="col">Non-Graded (F) </th>
                    <th scope="col">Natl. Spcl Sch. (M) </th>
                    <th scope="col">Natl. Spcl Sch. (F) </th>
                    <th scope="col">Integrated SPED Sch (M) </th>
                    <th scope="col">Integrated SPED Sch (F) </th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Barangay</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of listSchool; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{data.schoolId}}</td>
                    <td>{{data.name}}</td>
                    <td>
                      <!-- {{data.exception}} -->
                      <div *ngFor="let item of AreaofExceptionality">
                        <span *ngIf="item.value === data.exception">{{item.name}} </span>
                      </div>
                    </td>
                    <td>{{data.total1_m}}</td>
                    <td>{{data.total1_f}}</td>
                    <td>{{data.total2_m}}</td>
                    <td>{{data.total2_f}}</td>
                    <td>{{data.total3_m}}</td>
                    <td>{{data.total3_f}}</td>
                    <td>{{data.total4_m}}</td>
                    <td>{{data.total4_f}}</td>
                    <td>{{data.remarks}}</td>
                    <td>{{data.brgyName}}</td>
                    <td>
                      <div class="d-inline-flex">
                        <app-admin>
                          <button (click)="isAdd = false; school = data" class="btn btn-info btn-circle"
                            data-toggle="modal" data-target="#mEducation"><i class="fa fa-pen"></i>
                          </button>
                        </app-admin>
                        &nbsp;
                        <app-admin>
                          <button type="button" title="Delete" class="btn btn-warning btn-circle"
                            (click)="DeleteSchool(data.transId)"><i class="fa fa-trash"></i>
                          </button>&nbsp;
                        </app-admin>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>*** Data are based on Department of Education ***</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">School</h5>
        <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label for="category">Barangay :</label>
              <select class="form-select" name="brgyId" id="brgyId" aria-label="Default select example"
                [(ngModel)]="school.brgyId" [ngClass]="toValidate.brgyId?'is-invalid':''"
                (ngModelChange)="toValidate.brgyId=false">
                <option *ngFor="let item of listBarangay" [value]="item.brgyId">
                  {{ item.brgyName }}
                </option>
              </select>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <label for="exampleFormControlInput1">School Name : </label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="school.name"
                [ngClass]="toValidate.name?'is-invalid':''" (keyup)="toValidate.name=false">
            </div>
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">School ID#: </label>
              <input type="text" class="form-control" id="" placeholder="" [(ngModel)]="school.schoolId"
                [ngClass]="toValidate.schoolId?'is-invalid':''" (keyup)="toValidate.schoolId=false">
            </div>

            <!-- <div class=""><br>
                <label for="exampleFormControlInput1">Area of Exceptionality :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="school.exception"></textarea>
              </div> -->
            <div class="">
              <label for="category">Area of Exceptionality : </label>
              <select class="form-select" aria-label="Default select example" name="AreaofExceptionality"
                [(ngModel)]="school.exception" [ngClass]="toValidate.exception?'is-invalid':''"
                (ngModelChange)="toValidate.exception=false">
                <option *ngFor="let list of AreaofExceptionality" value={{list.value}}>{{list.name}}</option>
              </select>
            </div>
            <table class="table"> <br><br>
              <tr>
                <th>No. of SPED Enrollments</th>
                <th>Grade I-VI</th>
                <th>Non-Graded</th>
                <th>Natl Spcl Sch</th>
                <th>Integrated SPED</th>
              </tr>

              <tr>
                <td>Male:</td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total1_m" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total2_m" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total3_m" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total4_m" /> </td>

              </tr>
              <tr>
                <td>Female:</td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total1_f" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total2_f" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total3_f" /> </td>
                <td><input type="text" name="" id="" class="form-control" [(ngModel)]="school.total4_f" /> </td>

              </tr>
            </table>
            <div class="col-lg-12">
              <label for="exampleFormControlTextarea1">Remarks :</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                [(ngModel)]="school.remarks"></textarea>
            </div>

          </div>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <div class="left-absolute" *ngIf="isAdd">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
              (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck">
            <label class="form-check-label" for="flexCheckDefault">
              Several data
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-school" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="isAdd? AddSchool(): EditSchool()"><i
            class="fa fa-check"></i>Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modal area -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
            class="fa fa-times"></i>Close</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="EditSchool()"><i class="fa fa-check"></i>Save
          changes</button>

      </div>
    </div>
  </div>
</div>