<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Livestock/ Poultry Production</h1>
                      </div>


                      <form class="user collapse show" id="collapseExample">
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <label for="exampleFormControlInput1">Farm Name/ Owner's Name :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                       </div>
                                       </div><br>

                            <div class="row">
                              <div class="col-lg-4">
                                  <label for="exampleFormControlInput1">Farm/ Poultry Type :</label>
                                  <select class="form-select" aria-label="Default select example">
                                    <option selected>Select Category</option>
                                    <option value="1">Cattle</option>
                                    <option value="2">Carabao</option>
                                    <option value="3">Goat</option>
                                  </select>
                              </div>
                              <div class="col-lg-4">
                                  <label for="exampleFormControlInput1">No. of Heads Raised :</label>
                                  <input type="text" class="form-control" id="" placeholder="">
                              </div>

                                <div class="col-lg-4">
                                    <label>Farm/Poultry Area(Has) :</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div></div><br>

                                <div class="row">
                                  <div class="col-lg-4">
                                    <label for="exampleFormControlInput1">Contact Person:</label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                  <div class="col-lg-4">
                                    <label for="exampleFormControlInput1">Contact Details : </label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                  <div class="col-lg-4">
                                      <label for="exampleFormControlInput1">Location (#/St./Purok) : </label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                  </div>
                                  </div><br>

                                <div class="row">
                                  <div class="col-lg-4">
                                    <label for="exampleFormControlInput1">Geo Coordinates - Longitude : </label>
                                    <input type="text" class="form-control" id="" placeholder="">
                                </div>
                                  <div class="col-lg-4">
                                      <label for="exampleFormControlInput1">Latitude :   </label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                  </div>
                                  <div class="col-lg-4">
                                    <label for="category">Barangay :</label>
                                    <select class="form-select" aria-label="Default select example" placeholder="barangay">
                                        <option selected></option>
                                        <option value="1">Mankilam</option>
                                        <option value="2">Visayan</option>
                                        <option value="3">Three</option>
                                      </select>
                                      <br>
                                      <form class="form-inline float-center">
                                        <div class="form-group">
                                        <input type="checkbox" class="form-check-input filled-in" id="" checked>
                                        <label class="form-check-label" for="">Commercial Farm</label>
                                        </div>
                                        </form>
                                </div>
                                </div><br>
                              </div>
                            <button type="button" class="btn btn-primary">ADD</button>
                      </form>

                      <br>
                      <div class="row">
                          <div class="col-lg-6">
                              <p>List of Livestock/ Poultry Production</p>
                          </div>
                          <div class="col-lg-6 ">
                            <form class="form-inline float-right">
                              <div class="form-group mb-2">
                                <label for="" class="">Livestock Type filter : </label>
                              </div>
                              <div class="form-group mx-sm-1 mb-2">
                                  <select class="form-select" aria-label="Default select example">
                                      <option selected></option>
                                      <option value="1">Onsdsdsde</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                              </div>
                              <button type="submit" class="btn btn-primary mb-2">GO</button>
                            </form>
                          </div>



                      <table class="table  table-bordered" >
                          <thead>
                              <tr>
                                <th scope="col" rowspan ="2" style="text-align:center;padding-bottom:50px">Farm Name</th>
                                <th scope="col" rowspan ="2" style="text-align:center;padding-bottom:50px">Barangay</th>
                                <th scope="col" colspan ="4" style="text-align:center">Commodities</th>
                              </tr>
                              <tr>
                                <td  style="text-align:center">Carabao</td>
                                <td style="text-align:center">Cattle</td>
                                <td style="text-align:center">Goat</td>
                                <td style="text-align:center">Swine</td>
                              </tr>
                            </thead>
                            <tbody>
                              <td></td>
                              <td></td>
                              <td>23</td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
