
<div class="">

  <div class="card o-hidden border-0 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Crime Statistics</h1>
                      </div>


                      <form class="user collapse show" id="collapseExample">
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-lg-12"><br>
                                      <label for="exampleFormControlInput1">Number of Blotters :</label>
                                      <input type="text" class="form-control" id="" placeholder="">
                                       </div>

                                       <div class="col-lg-12"><br>
                                        <label for="exampleFormControlInput1">Number of Index Crimes :</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                         </div>

                                         <div class="col-lg-12"><br>
                                          <label for="exampleFormControlInput1">Non Index Crimes :</label>
                                          <input type="text" class="form-control" id="" placeholder="">
                                           </div>
                                           <div class="col-lg-12"><br>
                                            <label for="exampleFormControlInput1">Solved Cases :</label>
                                            <input type="text" class="form-control" id="" placeholder="">
                                             </div>
                                             <div class="col-lg-12"><br>
                                              <label for="exampleFormControlInput1">Unsolved Cases :</label>
                                              <input type="text" class="form-control" id="" placeholder="">
                                               </div>
                                               <div class="col-lg-12"><br>
                                                <label for="exampleFormControlInput1">Crime Solution Efficiency Rate:</label>
                                                <input type="text" class="form-control" id="" placeholder="">
                                                 </div>
                                                 <div class="col-lg-12"><br>
                                                  <label for="exampleFormControlInput1">Average Monthly Crime Rate : (per 100,000 Population)</label>
                                                  <input type="text" class="form-control" id="" placeholder="">
                                                   </div>
                                    <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Remarks :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                    </div>
                                     </div>
                                     <br>

                                <br>



                                  <br>
                            <button type="button" class="btn btn-primary">SAVE</button>&nbsp;
                            <button type="button" class="btn btn-primary">RESET</button>
                      </form>
                      <br>
                      <table class="table table-condensed table-bordered" >
                        <thead>
                            <tr>
                              <th colspan  ="2" style="text-align:center">Crime Incidence</th>
                              <th colspan  ="2" style="text-align:center">Crime Solution Efficiency</th>
                            <tr>
                              <td style="text-align:center;">Type of Crime</td>
                              <td style="text-align:center;">Volume of Crime</td>
                              <td style="text-align:center;">Crime Indicator</td>
                              <td style="text-align:center;">%</td>
                            </tr>
                            </thead>
                            <tbody>
                            <td> </td>
                            <td></td>
                            <td></td>


                           </tbody>
                           </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

