<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="">
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Malnutrition (Pre-School Children 0-71 Months) Revised Form</h1>


            </div>
            <app-admin>
              <button type="button" (click)="clearData()" class="btn btn-labeled btn-success" data-toggle="modal"
                data-target="#exampleModal">
                <span class="btn-label"><i class="fa fa-check"></i></span>Add
              </button>
            </app-admin>
            <br>
            <label>Malnutrition (Pre-School Children 0-71 Months) Revised Form</label>
            <table class="table table-light table-striped">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">#</th>
                  <th scope="col" style="text-align: center;">Barangay</th>
                  <th scope="col" style="text-align: center;">Total Weighed</th>
                  <th scope="col" style="text-align: center;">Stunted</th>
                  <th scope="col" style="text-align: center;">Severely Stunted</th>
                  <th scope="col" style="text-align: center;">Underweight</th>
                  <th scope="col" style="text-align: center;">Severely Underweight</th>
                  <th scope="col" style="text-align: center;">Wasted</th>
                  <th scope="col" style="text-align: center;">Severely Wasted</th>
                  <th scope="col" style="text-align: center;">Overweight</th>
                  <th scope="col" style="text-align: center;">Obese</th>
                  <th scope="col" style="text-align: center;">Remarks</th>

                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of dataList; let i = index;">
                  <td style="text-align: center;">{{ i + 1 }}</td>
                  <td style="text-align: center;">{{ dataItem.brgyName }}</td>
                  <td style="text-align: center;">{{ dataItem.totalWeighed }}</td>
                  <td style="text-align: center;">{{ dataItem.stunted }}</td>
                  <td style="text-align: center;">{{ dataItem.sevStunded }}</td>
                  <td style="text-align: center;">NoValue</td>
                  <td style="text-align: center;">{{ dataItem.sevUweight }}</td>
                  <td style="text-align: center;">{{ dataItem.wasted }}</td>
                  <td style="text-align: center;">{{ dataItem.sevWasted }}</td>
                  <td style="text-align: center;">{{ dataItem.overweight }}</td>
                  <td style="text-align: center;">{{ dataItem.obese }}</td>
                  <td style="text-align: center;">{{ dataItem.remarks }}</td>

                  <td style="text-align: center;">
                    <div class="d-inline-flex">
                      <app-admin>
                        <button (click)="addData = dataItem" data-toggle="modal" (click)="editToggle()" data-target="#exampleModal" class="btn btn-primary">
                          <i class="fas fa-edit"></i>
                        </button>
                      </app-admin>
                      &nbsp;
                      <app-admin>
                        <button class="btn btn-danger" (click)="DeleteHealthMalnutrition(dataItem)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </app-admin>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">
          Malnutrition (Pre-School Children 0-71 Months) Revised
          Form
        </h5>
        <button type="button" #closebutton class="btn-close" data-toggle="modal" data-target="#exampleModal"
          aria-hidden="true" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <label for="category">Barangay :</label>
            <label *ngIf="required" style="color: red" for="category">&nbsp;&nbsp;<i
                class="fas fa-asterisk"></i>Required</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="addData.brgyId">
              <option *ngFor="let item of barangayList" [value]="item.brgyId">
                {{ item.brgyName }}
              </option>
            </select>
            </div>
            <div class="col-lg-6">
              <label for="exampleFormControlInput1">Total Weighed :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.totalWeighed"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
        </div>
        <br />
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Stunted :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.stunted"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Severely Stunted :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.sevStunded"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Underweight :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.none"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Severely Underweight :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.sevUweight"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Wasted :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.wasted"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-4">
              <label for="exampleFormControlInput1">Severely Wasted :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.sevWasted"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <label for="exampleFormControlInput1">Overweight :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.overweight"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-6">
              <label for="exampleFormControlInput1">Obese :</label>
              <input type="number" class="form-control" id="" placeholder="" [(ngModel)]="addData.obese"
                [ngModelOptions]="{ standalone: true }" pattern="^\d*\.?\d+$">
            </div>
            <div class="col-lg-12"><br>
              <label for="exampleFormControlTextarea1">Existing Facilities/ Remarks : Accreditation</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="addData.remarks"
                [ngModelOptions]="{ standalone: true }"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-absolute" *ngIf="visible">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
              (ngModelChange)="onChange(isCheck)" [(ngModel)]="isCheck" />
            <label class="form-check-label" for="flexCheckDefault">
              Several data
            </label>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
          aria-hidden="true">
          <i class="fas fa-times">&nbsp;</i>Close
        </button>
        <button type="button" *ngIf="visible" (click)="AddHealthMalnutrition()" id="closeModal" class="btn btn-success">
          <i class="fas fa-hospital">&nbsp;</i>ADD
        </button>
        <button type="button" *ngIf="not_visible" (click)="EditHealthMalnutrition()" data-toggle="modal"
          data-target="#exampleModal" aria-hidden="true" class="btn btn-primary">
          <i class="fas fa-edit">&nbsp;</i>UPDATE
        </button>
      </div>
    </div>
  </div>
</div>
