
<div class="">

  <div class="card o-hidden border-0 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Malnutrition (Pre-School Children 0-71 Months) Revised Form</h1>
                      </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-lg-6">
                            <p>Malnutrition (Pre-School Children 0-71 Months) Revised Form</p>
                        </div>
                         </div>

                      <table class="table table-light table-striped">
                          <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Barangay</th>
                                <th scope="col">Total Weighed</th>
                                <th scope="col">Stunted	</th>
                                <th scope="col">	Severely Stunted</th>
                                <th scope="col">Underweight</th>
                                <th scope="col">Severely Underweight</th>
                                <th scope="col">Wasted</th>
                                <th scope="col">Severely Wasted</th>
                                <th scope="col">Overweight</th>
                                <th scope="col">Obese</th>
                                <th scope="col">Remarks</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>



