<body class="bg">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
        <div class="card o-hidden border-0 shadow-lg my-5 box">
          <div class="card-header">
            <h2>Reset Password</h2>
          </div>
          <div class="card-body">
            <p>
              Please enter the email address associated with your account, and
              we'll send you a link to reset your password.
            </p>

            <form (ngSubmit)="sendResetLink()">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  class="form-control form-control-user input"
                  id="email"
                  [(ngModel)]="email"
                  name="email"
                  placeholder="Enter your email address"
                  required
                />
              </div>

              <button type="submit" class="btn btn-primary btn-block">
                Send Reset Link
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<style>
  .bg {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .box {
    border-radius: 35px;
    box-shadow: 0 45px 63px rgba(0, 0, 0, 0.26);
  }
  .input {
    border: 4px solid #e5e5e5;
    border-bottom-width: 2px;
    border-bottom-width: 2px;
    box-shadow: 0 -2px 0px rgba(4, 4, 4, 0.19) inset,
      0 3px 6px rgba(214, 214, 214, 0.3);
    border-radius: 30px;
  }
</style>
