<div class="">
  <!-- <ng-template #isEmpty>
    <app-import [data]="message" (importData)="importMethod()" (testEvent)="parentMethod()"></app-import>
  </ng-template> -->

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <!-- <div *ngIf="listLivestock.length>0 ; else isEmpty" class="card o-hidden border-2 shadow-sm my-5"> -->
  <div class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class=""></div>
            <div *ngIf="isUpdated" class="alert alert-warning">
              ⚠️ This module was marked as <strong>UPDATED</strong>. Please
              review or continue encoding.
            </div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">
                Livestock/ Poultry Production
              </h1>
              <label
                ><strong>
                  Agriculture - {{ modifyCityMun(munCityName) }}</strong
                ></label
              ><br />
            </div>
            
            <br />
            <div class="row">
              <div class="col-lg-9">
                <br />
                <p>List of Barangays</p>
              </div>
            </div>
            <div class="form-group">
  <div class="row">
    <div class="row"></div>
    <div class="table-responsive">
      <table class="table table-framed table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col" rowspan="2" style="min-width: 180px; vertical-align: middle;">Barangay</th>
            <th scope="col" rowspan="2" style="min-width: 180px; vertical-align: middle;">Farm Owner</th>
            <th scope="col" colspan="5" class="text-center">Livestock (Cattle, Swine, Goat)</th>
            <th scope="col" colspan="5" class="text-center">Poultry (Chicken, Ducks, Quail)</th>
            <th scope="col" colspan="5" class="text-center">Fisheries (Bangus, Tilapia, Shrimp/Prawn)</th>
            <th scope="col" rowspan="2" style="min-width: 100px; vertical-align: middle;">Latitude</th>
            <th scope="col" rowspan="2" style="min-width: 100px; vertical-align: middle;">Longitude</th>
            <th scope="col" rowspan="2" style="min-width: 130px; vertical-align: middle;">Action</th>
          </tr>
          <tr>
            <th scope="col">Type</th>
            <th scope="col" class="text-center">Heads</th>
            <th scope="col" class="text-center">Yield (Kg/Yr)</th>
            <th scope="col" class="text-center">Price (PhP/Kg)</th>
            <th scope="col" class="text-center">Cost/Unit</th>

            <th scope="col" class="text-center">Type</th>
            <th scope="col" class="text-center">Heads</th>
            <th scope="col" class="text-center">Yield (Kg/Yr)</th>
            <th scope="col" class="text-center">Price (PhP/Kg)</th>
            <th scope="col" class="text-center">Cost/Unit</th>

            <th scope="col" class="text-center">Type</th>
            <th scope="col" class="text-center">Units</th>
            <th scope="col" class="text-center">Yield (Kg/Yr)</th>
            <th scope="col">Price (PhP/Kg)</th>
            <th scope="col" class="text-center">Cost/Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData; index as i">
            <td>
              <b>{{ item.brgyName }}</b>
            </td>
            <td class="text-center">{{ item.lT_farmOwn }}</td>

            <td class="text-center">{{ item.lT_TypeOfLT }}</td>
            <td class="text-center">{{ item.lT_NoHeads }}</td>
            <td class="text-center">{{ item.lT_AvgYld }}</td>
            <td class="text-center">{{ item.lT_FarmGatePrice }}</td>
            <td class="text-center">{{ item.lT_ProdCost }}</td>

            <td class="text-center">{{ item.pL_TypeOfPL }}</td>
            <td class="text-center">{{ item.pL_NoHeads }}</td>
            <td class="text-center">{{ item.pL_AvgYld }}</td>
            <td class="text-center">{{ item.pL_FarmGatePrice }}</td>
            <td class="text-center">{{ item.pL_ProdCost }}</td>

            <td class="text-center">{{ item.fH_TypeOfFish }}</td>
            <td class="text-center">{{ item.fH_Units }}</td>
            <td class="text-center">{{ item.fH_AvgYld }}</td>
            <td class="text-center">{{ item.fH_FarmGatePrice }}</td>
            <td>{{ item.fH_ProdCost }}</td>

            <td>{{ item.latitude }}</td>
            <td>{{ item.longitude }}</td>

            <td *ngIf="item.transId; else isADD">
              <div class="d-inline-flex">
                <app-admin>
                  <button
                    (click)="data = item; isAdd = false"
                    class="btn btn-info btn-circle"
                    data-toggle="modal"
                    data-target="#openModal"
                    title="Edit"
                  >
                    <i class="fa fa-pen"></i>
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    title="Delete"
                    class="btn btn-warning btn-circle"
                    (click)="DeleteData(item.transId, i, item)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                  &nbsp;
                </app-admin>
              </div>
            </td>

            <ng-template #isADD>
              <td>
                <app-admin>
                  <button
                    (click)="data = item; isAdd = true"
                    type="button"
                    class="btn btn-primary btn-circle"
                    data-toggle="modal"
                    data-target="#openModal"
                    title="Add"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </app-admin>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <app-admin>
        <div *ngIf="showAddForm" class="card mt-4">
          <div class="card-header bg-dark text-white">
            Add Source
          </div>
          <div class="card-body">
            <form (ngSubmit)="AddData()"  #sourceForm="ngForm">
              <div class="form-group">
                <label for="sourceName">Source Name</label>
                <input
                  type="text"
                  id="sourceName"
                  class="form-control"
                  name="sourceName"
                  [(ngModel)]="newSource.name"
                  placeholder="Enter source name"
                  required
                />
              </div>
              <button
                class="btn btn-primary mt-2"
                [disabled]="!sourceForm.valid"
              >
                <i class="fas fa-plus"></i> Add
              </button>
            </form>
          </div>
        </div>
      </app-admin>

      <div class="card mt-3" *ngFor="let source of sources">
        <div class="card-body text-start">
          <h5 class="card-title mb-2">Source: {{ source.name }}</h5>

          <div *ngIf="selectedSourceId === source.id; else viewMode">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newSource.name"
              placeholder="Edit source name"
            />
            <div class="mt-2">
              <app-admin>
                <button
                  class="btn btn-success btn-sm me-1"
                 
                  title="Save"
                >
                  <i class="fas fa-check"></i>
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="selectedSourceId = null"
                  title="Cancel"
                >
                  <i class="fas fa-times"></i>
                </button>
              </app-admin>
            </div>
          </div>

          <ng-template #viewMode>
            <app-admin>
              <button
                class="btn btn-outline-dark btn-sm me-2"
                
                title="Edit"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                
                title="Delete"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </app-admin>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
  class="modal fade bd-example-modal-lg"
  id="openModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          {{ isAdd ? 'ADD NEW RECORD' : 'UPDATE RECORD' }}
        </h5>
        <button
          type="button"
          #closebutton
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          
          <div class="col-12 mb-3">
            <h6 class="text-primary font-weight-bold border-bottom pb-1">Location & Owner Info</h6>
          </div>
          <div class="col-md-4">
            <label class="font-weight-bold">Barangay:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.brgyName"
              readonly
            />
          </div>
       
          <div class="col-md-4">
            <label class="font-weight-bold">Farm Owner:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.lT_farmOwn"
            />
          </div>

          <div class="col-12 mt-3 mb-2">
            <h6 class="text-success font-weight-bold border-bottom pb-1">Livestock (Cattle, Swine, Goat)</h6>
          </div>
          <div class="col-md-4">
            <label>Type of Livestock:</label>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="e.g., Cattle"
              [(ngModel)]="data.lT_TypeOfLT"
            />
          </div>
          <div class="col-md-4">
            <label>No. of Heads:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.lT_NoHeads"
            />
          </div>
          <div class="col-md-4">
            <label>Avg Yield (Kg/Year):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.lT_AvgYld"
            />
          </div>
          <div class="col-md-6">
            <label>Farm Gate Price (PhP/Kg):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.lT_FarmGatePrice"
            />
          </div>
          <div class="col-md-6">
            <label>Production Cost (PhP/Head):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.lT_ProdCost"
            />
          </div>

          <div class="col-12 mt-3 mb-2">
            <h6 class="text-info font-weight-bold border-bottom pb-1">Poultry (Chicken, Ducks, Quail)</h6>
          </div>
          <div class="col-md-4">
            <label>Type of Poultry:</label>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="e.g., Chicken"
              [(ngModel)]="data.pL_TypeOfPL"
            />
          </div>
          <div class="col-md-4">
            <label>No. of Heads:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.pL_NoHeads"
            />
          </div>
          <div class="col-md-4">
            <label>Avg Yield (Kg/Year):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.pL_AvgYld"
            />
          </div>
          <div class="col-md-6">
            <label>Farm Gate Price (PhP/Kg):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.pL_FarmGatePrice"
            />
          </div>
          <div class="col-md-6">
            <label>Production Cost (PhP/Unit):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.pL_ProdCost"
            />
          </div>

          <div class="col-12 mt-3 mb-2">
            <h6 class="text-warning font-weight-bold border-bottom pb-1">Fisheries (Bangus, Tilapia, Shrimp/Prawn)</h6>
          </div>
          <div class="col-md-4">
            <label>Type of Fishery:</label>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="e.g., Tilapia"
              [(ngModel)]="data.fH_TypeOfFish"
            />
          </div>
          <div class="col-md-4">
            <label>Units:</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.fH_Units"
            />
          </div>
          <div class="col-md-4">
            <label>Avg Yield (Kg/Year):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.fH_AvgYld"
            />
          </div>
          <div class="col-md-6">
            <label>Farm Gate Price (PhP/Kg):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.fH_FarmGatePrice"
            />
          </div>
          <div class="col-md-6">
            <label>Production Cost (PhP/Unit):</label>
            <input
              type="text"
              class="form-control mb-2"
              [(ngModel)]="data.fH_ProdCost"
            />
          </div>

          <div class="col-12 mt-3 mb-2">
            <h6 class="text-secondary font-weight-bold border-bottom pb-1">Geographic Coordinates</h6>
          </div>
          <div class="col-md-6">
            <label>Latitude:</label>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="e.g., 7.4308"
              [(ngModel)]="data.latitude"
            />
          </div>
          <div class="col-md-6">
            <label>Longitude:</label>
            <input
              type="text"
              class="form-control mb-2"
              placeholder="e.g., 125.7032"
              [(ngModel)]="data.longitude"
            />
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="isAdd ? AddData() : EditData()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
</div>

