
<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4"> Physical Environment Profile</h1>
                      </div>


                      <form class="user collapse show" id="collapseExample">
                          <div class="form-group">
                              <div class="row">
                                    <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">General Topography :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Geology :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Soils :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Land Classification :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Climate :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Surface Water :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>
                                     <div class ="col-lg-12"><br>
                                      <label for="exampleFormControlTextarea1">Others/ Remarks :</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                     </div>



                                    </div>
                                     </div>

                            <button type="button" class="btn btn-primary">SAVE</button>&nbsp;
                            <button type="button" class="btn btn-primary">RESET</button>
                      </form>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

