<div class="">
  <ng-template #isEmpty>
    <app-import
      [data]="message"
      (testEvent)="parentMethod()"
      (importData)="importMethod()"
    ></app-import>
    <app-export-excel apiControllerName="Tourism" menuId="1"></app-export-excel>
    <app-import-excel (myEvent)="ImportExcel($event)"></app-import-excel>
  </ng-template>

  <div *ngIf="showOverlay">
    <app-import-loading></app-import-loading>
  </div>
  <div
    *ngIf="dataList.length > 0; else isEmpty"
    class="card o-hidden border-2 shadow-sm my-5"
  >
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class=""></div>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Resorts</h1>
              <label
                ><strong
                  >Tourism - {{ modifyCityMun(munCityName) }}
                </strong></label
              ><br />
            </div>
            <div class="x-space-between">
              <div class="x-space-between">
                <app-export-excel
                  apiControllerName="Tourism"
                  menuId="1"
                ></app-export-excel>
                <app-import-excel
                  (myEvent)="ImportExcel($event)"
                ></app-import-excel>
              </div>
              <div class="x-space-between">
                <app-admin>
                  <button
                    type="button"
                    (click)="clearData()"
                    class="btn btn-labeled btn-primary"
                    data-toggle="modal"
                    data-target="#ModalAdd"
                  >
                    <span class="btn-label"><i class="fa fa-plus"></i></span
                    >Resorts
                  </button>
                </app-admin>
                <!-- &nbsp;
                <app-admin>
                  <button class="btn btn-primary" (click)="Maps()">Maps</button>
                </app-admin> -->
                &nbsp;
                <app-pdf (myEvent)="GeneratePDF()"></app-pdf>
              </div>
            </div>
            <br />
            <div class="input-group col-sm-3">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
                [(ngModel)]="searchText"
              />
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6">
                <p>List of Resorts</p>
              </div>
              <div class="col-lg-6"></div>
            </div>
            <div class="table-responsive">
              <table class="table table-light table-striped">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name of Resort</th>
                    <th scope="col">Description/Amenities</th>
                    <th scope="col">Contact Person/Designation</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Location</th>
                    <th scope="col">Barangay</th>
                    <th scope="col">Geo-Coord.(Long,Lat)</th>
                    <th width="8%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let dataItem of dataList | search : searchText;
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ dataItem.name }}</td>
                    <td>{{ dataItem.description }}</td>
                    <td>{{ dataItem.contactPerson }}</td>
                    <td>{{ dataItem.contactNo }}</td>
                    <td>{{ dataItem.location }}</td>
                    <td>{{ dataItem.brgyName }}</td>
                    
                    <td><span *ngIf="dataItem.tagging">{{ dataItem.tagging.longitude }},<br> {{ dataItem.tagging.latitude }}</span></td>
                    <td>
                      <div class="d-inline-flex">
                        <app-admin>
                          <button
                            (click)="addData = dataItem"
                            data-toggle="modal"
                            (click)="editToggle()"
                            data-target="#ModalAdd"
                            class="btn btn-info btn-circle"
                          >
                            <i class="fas fa-pen"></i>
                          </button> </app-admin
                        >&nbsp;
                        <button
                          (click)="SetMarker(dataItem); addData = dataItem"
                          data-toggle="modal"
                          data-target="#gmapModal"
                          class="btn btn-success btn-circle"
                        >
                          <i class="fas fa-globe"></i></button
                        >&nbsp;
                        <app-admin>
                          <button
                            class="btn btn-warning btn-circle"
                            (click)="DeleteTourism(dataItem)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </app-admin>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--Sources-->
              <!-- ✅ Add Source Form -->
              <app-admin>
                <div *ngIf="showAddForm" class="card mt-4">
                  <div class="card-header bg-dark text-white">Add Source</div>
                  <div class="card-body">
                    <form (ngSubmit)="addSource()" #sourceForm="ngForm">
                      <div class="form-group">
                        <label for="sourceName">Source Name</label>
                        <input
                          type="text"
                          id="sourceName"
                          class="form-control"
                          name="sourceName"
                          [(ngModel)]="newSource.name"
                          placeholder="Enter source name"
                          required
                        />
                      </div>
                      <button
                        class="btn btn-primary mt-2"
                        [disabled]="!sourceForm.valid"
                      >
                        <i class="fas fa-plus"></i> Add
                      </button>
                    </form>
                  </div>
                </div>
              </app-admin>

              <!-- ✅ Display Each Source -->
              <div class="card mt-3" *ngFor="let source of sources">
                <div class="card-body text-start">
                  <h5 class="card-title mb-2">Source: {{ source.name }}</h5>

                  <!-- ✏️ Edit Mode -->
                  <div *ngIf="selectedSourceId === source.id; else viewMode">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="newSource.name"
                      placeholder="Edit source name"
                    />
                    <div class="mt-2">
                      <app-admin>
                        <button
                          class="btn btn-success btn-sm me-1"
                          (click)="updateSource()"
                          title="Save"
                        >
                          <i class="fas fa-check"></i>
                        </button>
                        <button
                          class="btn btn-secondary btn-sm"
                          (click)="selectedSourceId = null"
                          title="Cancel"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </app-admin>
                    </div>
                  </div>

                  <!-- 👁️ View Mode -->

                  <ng-template #viewMode>
                    <app-admin>
                      <button
                        class="btn btn-outline-dark btn-sm me-2"
                        (click)="editSource(source)"
                        title="Edit"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-outline-danger btn-sm"
                        (click)="deleteSource(source.id)"
                        title="Delete"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </app-admin>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="ModalAdd"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Resorts</h5>
        <button
          type="button"
          #closebutton
          class="btn-close"
          data-dismiss="modal"
          aria-hidden="true"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8">
            <label for="exampleFormControlInput1">Name of Resort :</label>
            <input
              type="text"
              class="form-control"
              id=""
              placeholder=""
              [(ngModel)]="addData.name"
              [(ngModel)]="dummy_addData.name"
              [ngClass]="toValidate.name ? 'is-invalid' : ''"
              (keyup)="toValidate.name = false"
            />
          </div>
          <div class="col-lg-4">
            <label for="category">Barangay :</label>
            <!-- <label *ngIf="required" style="color: red;" for="category">&nbsp;&nbsp;<i
                                class="fas fa-asterisk"></i>Required</label> -->
            <select
              class="form-select"
              aria-label="Default select example"
              [(ngModel)]="addData.brgyId"
              [ngClass]="toValidate.brgyId ? 'is-invalid' : ''"
              (ngModelChange)="toValidate.brgyId = false"
            >
              <option *ngFor="let item of barangayList" [value]="item.brgyId">
                {{ item.brgyName }}
              </option>
            </select>
          </div>
        </div>
        <br />
        <div class="form-group">
          <div class="">
            <br />
            <div class="">
              <label for="exampleFormControlTextarea1"
                >Brief Description/ Amenities :</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="4"
                [(ngModel)]="addData.description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <label for="exampleFormControlInput1"
              >Contact Person/ Designation :</label
            >
            <input
              type="text"
              class="form-control"
              id=""
              placeholder=""
              [(ngModel)]="addData.contactPerson"
            />
          </div>
          <div class="col-lg-4">
            <label for="exampleFormControlInput1">Contact Number :</label>
            <input
              type="text"
              class="form-control"
              id=""
              placeholder=""
              [(ngModel)]="addData.contactNo"
            />
          </div>
          <div class="col-lg-4">
            <label>Location (#/Bldg/St./Purok) :</label>
            <input
              type="text"
              class="form-control"
              id=""
              placeholder=""
              [(ngModel)]="addData.location"
            />
          </div>
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <div class="left-absolute" *ngIf="visible">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              (ngModelChange)="onChange(isCheck)"
              [(ngModel)]="isCheck"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Several data
            </label>
          </div>
        </div>
        <button
          type="button"
          *ngIf="visible"
          (click)="AddTourism()"
          id="closeModal"
          class="btn btn-primary"
        >
          <i class="fas fa-check">&nbsp;</i>Save
        </button>
        <button
          type="button"
          *ngIf="visible"
          class="btn btn-secondary"
          data-dismiss="modal"
          data-target="#exampleModal"
          aria-hidden="true"
        >
          <i class="fas fa-times"></i>Close</button
        >&nbsp;
        <button
          type="button"
          *ngIf="not_visible"
          (click)="EditTourism()"
          aria-hidden="true"
          class="btn btn-primary"
        >
          <i class="fas fa-edit"></i>Save Changes</button
        >&nbsp;
        <button
          type="button"
          *ngIf="not_visible"
          class="btn btn-secondary"
          data-dismiss="modal"
          data-target="#exampleModal"
          aria-hidden="true"
        >
          <i class="fas fa-times"></i>Cancel</button
        >&nbsp;
      </div>
    </div>
  </div>
</div>

<!-- modal area GEO -->
<div
  class="modal fade"
  id="gmapModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          SEPS GEOLOCATION TAGGING
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <app-admin>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="EditTourism()">
            Save changes
          </button>
        </app-admin>
      </div>
    </div>
  </div>
</div>
