<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('assets/img/kuyagov2.jpg');background-size: cover; height: 90vh;">
            <div style="background-color: #FFFFFF; height: 700px;width:900px; position:absolute; left: 700px; top:100px;  border: 2px; text-align:justify;
              border-radius: 25px; padding: 30px 50px 30px 50px;">
           <br/>
           <span style="margin-top: 20px; font-size: 18px; font-weight:bold">MESSAGE OF THE GOVERNOR</span>
           <br><br><br>
           <span  style="margin-top: 20px; font-size: 16px; ">
               The Socio Economic Profiling System (SEPS) Online serves as the consolidation of all data of the eight (8) municipalities and three (3) cities of the Province of Davao del Norte.
           </span>
           <br><br>
           <span  style="margin-top: 20px; font-size: 16px; ">
               Since it was established in 2014, it has been regulary updated through the active participation of Local Government Units (LGUs), who continually assign SEPS encoders to gather data and encode important and current socio-economic data. Hence, SEPS Online is a rich source of information about the province of Davao del Norte. By this, we encourage you and the team of researchers be it from the academe, the business sector and other fields of interest to make full use of our data trove. And in return, we look forward to the day that you develop, create and introduce development in various forms and avenues that could be beneficial to all the people of Davao del Norte.  
           </span>
           <br><br>
           <span  style="margin-top: 20px; font-size: 16px; ">
               Kudos to the staff of Provincial Planning and Development Office (PPDO) for spearheading and establishing this online portal.        
           </span>
           <br><br>
           <span  style="margin-top: 20px; font-size: 16px; ">
               Mabuhay.
           </span>
           <br><br><br> <br><br>   
           <span style="margin-top: 20px; font-size: 18px; font-weight:bold">
               EDWIN I. JUBAHIB
           </span>
           <br>
           <span  style="margin-top: 20px; font-size: 18px; ">
               Provincial Governor
           </span>
   
           </div>
         </div>
        


      <div class="carousel-item" style="height: 90vh ;">
        <img src="chicago.jpg" alt="Chicago">
      </div>
      <div class="carousel-item" style="height: 90vh ;">
        <img src="ny.jpg" alt="New York">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>