<div class="">
  <div
    class="card o-hidden border-2 shadow-sm my-5"
    style="border-color: #4e73df; background-color: #f8f9fc"
  >
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center mb-4">
              <h1 class="h4 card-header-title">
                Registered Youth Members of Pag-asa Youth Association of the
                Philippines (PYAP)
              </h1>
              <label
                ><strong
                  >Provincial Development and Physical Framework Plan</strong
                ></label
              >
            </div>
            <div *ngIf="isPYABrgy" class="row mb-3">
              <div class="col-lg-12">
                <p class="section-label">📍 List of Municipalities</p>
              </div>
            </div>
            <div *ngIf="!isPYABrgy" class="row mb-3">
              <div class="col-lg-12">
                <p class="section-label">📍 List of Barangay</p>
              </div>
            </div>
            <ul class="nav nav-tabs pb-2">
              <li class="nav-item" (click)="handleOnTabChange(true)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="isPYABrgy ? 'active fw-bold' : ''"
                  aria-current="page"
                  >Municipality/City
                </a>
              </li>
              <li class="nav-item" (click)="handleOnTabChange(false)">
                <a
                  class="nav-link x-cursor"
                  [ngClass]="!isPYABrgy ? 'active fw-bold' : ''"
                  >Barangay</a
                >
              </li>
            </ul>
            <div class="table-responsive" *ngIf="isPYABrgy">
              <table class="styled-lightdark-table">
                <thead class="table-dark text-center">
                  <tr>
                    <th>City/Municipality</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData; index as i">
                    <td class="text-center">
                      <b>{{ item.munCityName }}</b>
                    </td>
                    <td class="text-center">{{ item.male }}</td>
                    <td class="text-center">{{ item.female }}</td>
                    <td class="text-center">
                      {{ (item.male || 0) + (item.female || 0) }}
                    </td>
                    <td
                      *ngIf="
                        item.transId && item.munCityId == o_munCityId;
                        else isADD
                      "
                    >
                      <app-admin>
                        <div class="d-inline-flex">
                          <button
                            (click)="data = item; isAdd = false"
                            class="btn btn-info btn-circle"
                            data-toggle="modal"
                            data-target="#openModal"
                          >
                            <i class="fa fa-pen"></i>
                          </button>
                          &nbsp;
                          <button
                            type="button"
                            title="Delete"
                            class="btn btn-warning btn-circle"
                            (click)="DeletePYA(item.transId, i, item)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </app-admin>
                    </td>
                    <ng-template #isADD>
                      <td>
                        <app-admin>
                          <button
                            *ngIf="item.munCityId == o_munCityId"
                            (click)="data = item; isAdd = true"
                            class="btn btn-primary btn-circle"
                            data-toggle="modal"
                            data-target="#openModal"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                        </app-admin>
                      </td>
                    </ng-template>
                  </tr>

                  <!-- Total Row -->
                  <tr class="font-weight-bold">
                    <td class="text-center"><b>Total</b></td>
                    <td class="text-center">
                      <b>{{ totals.male }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ totals.female }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ totals.male + totals.female }}</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="modal fade bd-example-modal-lg"
              id="openModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                      Registered Youth Members of Pag-asa Youth Association
                    </h5>
                    <button
                      #closeMunicipalityBtn
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <form>
                      <div class="row g-3">
                        <div class="col-md-12">
                          <label class="section-label"
                            >Registered Youth Members of Pag-asa Youth
                            Association</label
                          >
                          <div class="row g-2">
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Male"
                                [(ngModel)]="data.male"
                                [ngModelOptions]="{ standalone: true }"
                              />
                            </div>
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Female"
                                [(ngModel)]="data.female"
                                [ngModelOptions]="{ standalone: true }"
                              />
                            </div>
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Total"
                                [value]="(data.male || 0) + (data.female || 0)"
                                readonly
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-dismiss="modal"
                    >
                      <i class="fa fa-times"></i> Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="isAdd ? AddPYA() : EditPYA()"
                    >
                      <i class="fa fa-save"></i> Save Changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--Barangay-->
            <div class="table-responsive" *ngIf="!isPYABrgy">
              <table class="styled-lightdark-table">
                <thead class="table-dark text-center">
                  <tr>
                    <th>Barangay</th>
                    <th>Male</th>
                    <th>Female</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDataBrgy; index as i">
                    <td class="text-center">
                      <b>{{ item.brgyName }}</b>
                    </td>
                    <td class="text-center">{{ item.brgyMale }}</td>
                    <td class="text-center">{{ item.brgyFemale }}</td>
                    <td class="text-center">
                      {{ (item.brgyMale || 0) + (item.brgyFemale || 0) }}
                    </td>
                    <td *ngIf="item.transId; else isADD">
                      <div class="d-inline-flex">
                        <app-admin>
                          <button
                            (click)="data = item; isAdd = false"
                            class="btn btn-info btn-circle"
                            data-toggle="modal"
                            data-target="#openModal2"
                          >
                            <i class="fa fa-pen"></i>
                          </button> </app-admin
                        >&nbsp;
                        <app-admin>
                          <button
                            type="button"
                            title="Delete"
                            class="btn btn-warning btn-circle"
                            (click)="DeleteBrgyPYAP(item.transId, i, item)"
                          >
                            <i class="fa fa-trash"></i></button
                          >&nbsp;
                        </app-admin>
                      </div>
                    </td>
                    <ng-template #isADD>
                      <td>
                        <app-admin>
                          <button
                            (click)="data = item; isAdd = true"
                            type="button"
                            class="btn btn-primary btn-circle"
                            data-toggle="modal"
                            data-target="#openModal2 "
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                        </app-admin>
                      </td>
                    </ng-template>
                  </tr>

                  <!-- Total Row -->
                  <tr class="font-weight-bold">
                    <td class="text-center"><b>Total</b></td>
                    <td class="text-center">
                      <b>{{ total.brgyMale }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ total.brgyFemale }}</b>
                    </td>
                    <td class="text-center">
                      <b>{{ total.brgyMale + total.brgyFemale }}</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="modal fade bd-example-modal-lg"
              id="openModal2"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                      Registered Youth Members of Pag-asa Youth Association
                    </h5>
                    <button
                      #closeBarangayBtn
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <form>
                      <div class="row g-3">
                        <div class="col-md-12">
                          <label class="section-label"
                            >Registered Youth Members of Pag-asa Youth
                            Association</label
                          >
                          <div class="row g-2">
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Male"
                                [(ngModel)]="data.brgyMale"
                                [ngModelOptions]="{ standalone: true }"
                              />
                            </div>
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Female"
                                [(ngModel)]="data.brgyFemale"
                                [ngModelOptions]="{ standalone: true }"
                              />
                            </div>
                            <div class="col-md-4">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Total"
                                [value]="
                                  (data.brgyMale || 0) + (data.brgyFemale || 0)
                                "
                                readonly
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-dismiss="modal"
                    >
                      <i class="fa fa-times"></i> Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="isAdd ? AddBrgyPYAP() : EditBrgyPYAP()"
                    >
                      <i class="fa fa-save"></i> Save Changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
