<body class="bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div
          class="card o-hidden border-0 shadow-lg my-5 box"
          style="margin-top: 50px"
        >
          <div class="card-header text-center">
            <h2>Update Password</h2>
          </div>
          <div class="card-body">
            <form
              #updatePasswordForm="ngForm"
              (ngSubmit)="UpdateUser()"
              novalidate
            >
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control form-control-user input"
                  id="email"
                  [(ngModel)]="editmodal.email"
                  name="email"
                  placeholder="Enter your email"
                  required
                  aria-required="true"
                  #email="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      email.invalid && (email.dirty || email.touched)
                  }"
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="invalid-feedback"
                >
                  Email is required.
                </div>
              </div>

              <!-- Current Password Field with Eye Icon Inside the Input -->
              <div class="form-group position-relative">
                <label for="currentPassword">Current Password</label>
                <input
                  [type]="showCurrentPassword ? 'text' : 'password'"
                  class="form-control form-control-user input"
                  id="currentPassword"
                  [(ngModel)]="editmodal.currentPassword"
                  name="currentPassword"
                  placeholder="Enter current password"
                  required
                  aria-required="true"
                  #currentPassword="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      currentPassword.invalid &&
                      (currentPassword.dirty || currentPassword.touched)
                  }"
                />
                <div
                  *ngIf="
                    currentPassword.invalid &&
                    (currentPassword.dirty || currentPassword.touched)
                  "
                  class="invalid-feedback"
                >
                  Current password is required.
                </div>
                <!-- Eye Icon Inside the Input Field -->
                <i
                  class="fa"
                  [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="showCurrentPassword = !showCurrentPassword"
                  style="
                    position: absolute;
                    top: 70%;
                    right: 20px;
                    cursor: pointer;
                    transform: translateY(-50%);
                  "
                ></i>
              </div>

              <!-- New Password Field with Eye Icon Inside the Input -->
              <div class="form-group position-relative">
                <label for="newPassword">New Password</label>
                <input
                  [type]="showNewPassword ? 'text' : 'password'"
                  class="form-control form-control-user input"
                  id="newPassword"
                  [(ngModel)]="editmodal.newPassword"
                  name="newPassword"
                  placeholder="Enter new password"
                  required
                  minlength="8"
                  aria-required="true"
                  #newPassword="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      newPassword.invalid &&
                      (newPassword.dirty || newPassword.touched)
                  }"
                />
                <div
                  *ngIf="
                    newPassword.invalid &&
                    (newPassword.dirty || newPassword.touched)
                  "
                  class="invalid-feedback"
                >
                  <span *ngIf="newPassword.errors?.['required']">
                    New password is required.
                  </span>
                  <span *ngIf="newPassword.errors?.['minlength']">
                    New password must be at least 8 characters long.
                  </span>
                </div>
                <!-- Eye Icon Inside the Input Field -->
                <i
                  class="fa"
                  [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="showNewPassword = !showNewPassword"
                  style="
                    position: absolute;
                    top: 70%;
                    right: 20px;
                    cursor: pointer;
                    transform: translateY(-50%);
                  "
                ></i>
              </div>

              <div class="content">
                <p>Password must contain:</p>
                <ul class="requirement-list">
                  <li>
                    <span>At least 8 characters length</span>
                  </li>
                  <li>
                    <span>At least 1 number (0...9)</span>
                  </li>
                  <li>
                    <span>At least 1 lowercase letter (a...z)</span>
                  </li>
                  <li>
                    <span>At least 1 special symbol (!...$)</span>
                  </li>
                  <li>
                    <span>At least 1 uppercase letter (A...Z)</span>
                  </li>
                </ul>
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="updatePasswordForm.invalid || isUpdating"
              >
                <i class="fa fa-check"></i> Save changes
              </button>
              <button
                type="button"
                class="btn btn-secondary btn-block"
                (click)="editmodal = {}"
              >
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<style>
  .bg {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .box {
    border-radius: 35px;
    box-shadow: 0 45px 63px rgba(0, 0, 0, 0.26);
  }
  .input {
    border: 4px solid #e5e5e5;
    border-bottom-width: 2px;
    border-bottom-width: 2px;
    box-shadow: 0 -2px 0px rgba(4, 4, 4, 0.19) inset,
      0 3px 6px rgba(214, 214, 214, 0.3);
    border-radius: 30px;
  }
</style>
