
<div class="">

  <div class="card o-hidden border-2 shadow-sm my-5">
      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">



              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="">
                          <button class="btn btn-outline-primary btn-circle float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                              <i class="fa fa-minus" aria-hidden="true"></i>

                            </button>
                      </div>
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Demography</h1>
                      </div>

                      <div class="user collapse show" id="collapseExample">
                        <div class="form-group">
                        <div class ="row">
                        </div>
                        <div class="row">

                                 <div class ="col-lg-12"><br>
                                  <label for="category">Barangay :</label>
                                  <select class="form-select" aria-label="Default select example">
                                      <option selected>Select Barangay</option>
                                      <option value="1">Mankilam</option>
                                      <option value="2">Visayan</option>
                                      <option value="3">La-Filipina</option>
                                    </select>
                                 </div>
                                 <div class ="col-lg-12"><br>
                                  <label for="exampleFormControlTextarea1" >Total Population:</label><br>
                                 </div>
                                 <div class ="col-lg-5">
                                  <label for="exampleFormControlTextarea1" >Male :</label>
                                  <input type="text" class="form-control"  name =""  id="" placeholder="">
                                 </div>

                                 <div class ="col-lg-5">
                                  <label for="exampleFormControlTextarea1"  >Female:</label>
                                  <input type="text" class="form-control" id="" name = ""  placeholder="">
                                </div>
                                 <div class ="col-lg-6"><br>
                                  <label for="exampleFormControlTextarea1" >Household Population :</label>
                                  <input type="text" class="form-control" name =""  id="" placeholder="">
                                 </div>
                                 <div class ="col-lg-6"><br>
                                  <label for="exampleFormControlTextarea1" >No. of Households:</label>
                                  <input type="text" class="form-control" name ="" id="" placeholder="">
                                 </div>
                                 <div class ="col-lg-6"><br>
                                  <label for="exampleFormControlTextarea1" >Average Households Size :</label>
                                  <input type="text" class="form-control"  name =""  id="" placeholder="">
                                 </div>

                                 <div class ="col-lg-6"><br>
                                  <label for="exampleFormControlTextarea1"  >Population Growth Rate:</label>
                                  <input type="text" class="form-control" id="" name = ""  placeholder="">
                                </div>

                                </div>
                                 </div><br><br>
                                </div>


                      <!-- <div class="col-lg-6">
                        <p>2010/2015 Total Population and Households</p>
                    </div> -->


                            <!-- <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">Barangay</th>
                                      <th scope="col">2010 Population	</th>
                                      <th scope="col">Male</th>
                                      <th scope="col">Female</th>
                                      <th scope="col">2010 No. of Household</th>
                                      <th scope="col">2015 Population	</th>
                                      <th scope="col">Male</th>
                                      <th scope="col">Female</th>
                                      <th scope="col">	2015 No. of Household</th>
                                    </tr>
                                  </thead>
                                  <tbody class="labelForm">
                                    <tr>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                              </table> -->



                              <div class="form-group">
                                <div class ="row">
                                  <div class="row">

                                    </div>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope ="col" rowspan ="2"> Censal Year</th>
                                  <th scope ="col" rowspan ="2"> Barangay</th>
                                  <th scope ="col" colspan="2">Total Population</th>
                                  <th scope ="col" rowspan ="2">Household Population</th>
                                  <th scope ="col" rowspan ="2"> No. of Households</th>
                                  <th scope ="col" rowspan ="2"> Average Households Size</th>
                                  <th scope ="col" rowspan ="2">Population Growth Rate</th>
                                </tr>
                                <tr>
                                  <td>Male</td>
                                  <td >Female</td>
                                </tr>
                                </thead>
                                <tbody>
                                  <td>2022</td>
                                  <td></td>
                                  <td>23</td>
                                  <td>34</td>
                                </tbody>
                              </table>






