<div class="">
  <div class="card o-hidden border-2 shadow-sm my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Irrigation Systems</h1>
              <label><strong>Utility Services/Structures - {{modifyCityMun(munCityName)}}</strong></label>
            </div>
            <div *ngIf="!hasData" class="form-inline float-right ">
              <app-admin>
                <button (click)="isAdd = true;" class="btn btn-primary mb-2" data-bs-toggle="modal"
                  data-bs-target="#mEducation">
                  <i class="fa fa-plus"></i>
                  Irrigation System
                </button>
              </app-admin>
            </div>
            <br>
            <div class="table-responsive">
              <table class="table table-light table-striped">
                <thead>
                  <tr>
                    <th scope="col">Service Area: </th>
                    <th scope="col">National Irrigation System</th>
                    <th scope="col">Communal/ Pump Irrigation System</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Irrigable Area (Has) : </td>
                    <td>{{irrigation.irrigableNtl}}</td>
                    <td>{{irrigation.irrigableCom}}</td>
                  </tr>
                  <tr>
                    <td>Irrigated Area (Has) : </td>
                    <td>{{irrigation.irrigatedNtl}}</td>
                    <td>{{irrigation.irrigatedCom}}</td>
                  </tr>
                  <tr>
                    <td>No. of Farmer Beneficiaries : </td>
                    <td>{{irrigation.farmerNtl}}</td>
                    <td>{{irrigation.farmerCom}}</td>
                  </tr>
                  <tr>
                    <td>Remarks :</td>
                    <td colspan="2">{{irrigation.remarks}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="hasData" class="form-inline float-right ">
              <div class="d-inline-flex">
                <app-admin>
                  <button (click)="isAdd = false" class="btn btn-info btn-circle" data-toggle="modal"
                    data-target="#mEducation"><i class="fa fa-pen"></i>
                  </button>
                  &nbsp;
                </app-admin>
                <app-admin>
                  <button type="button" title="Delete" class="btn btn-warning btn-circle"
                    (click)="DeleteIrrigation(irrigation.transId)"><i class="fa fa-trash"></i>
                  </button>
                </app-admin>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Irrigation System</h5>
        <button type="button" #closebutton class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-light table-striped">
            <thead>
              <tr>
                <th scope="col">Service Area: </th>
                <th scope="col">National Irrigation System</th>
                <th scope="col">Communal/ Pump Irrigation System</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Irrigable Area (Has) : </td>
                <td><input type="number" class="form-control" id="" placeholder=""
                    [(ngModel)]="irrigation.irrigableNtl"></td>
                <td><input type="number" class="form-control" id="" placeholder=""
                    [(ngModel)]="irrigation.irrigableCom"></td>
              </tr>
              <tr>
                <td>Irrigated Area (Has) : </td>
                <td><input type="number" class="form-control" id="" placeholder=""
                    [(ngModel)]="irrigation.irrigatedNtl"></td>
                <td><input type="number" class="form-control" id="" placeholder=""
                    [(ngModel)]="irrigation.irrigatedCom"></td>
              </tr>
              <tr>
                <td>No. of Farmer Beneficiaries : </td>
                <td><input type="number" class="form-control" id="" placeholder="" [(ngModel)]="irrigation.farmerNtl">
                </td>
                <td><input type="number" class="form-control" id="" placeholder="" [(ngModel)]="irrigation.farmerCom">
                </td>
              </tr>
              <tr>
                <td>Remarks :</td>
                <td colspan="2"><textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                    [(ngModel)]="irrigation.remarks"></textarea></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-school" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="isAdd? AddIrrigation(): EditIrrigation()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modal area -->
<div class="modal fade" id="gmapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEPS GEOLOCATION TAGGING</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-gmap></app-gmap>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="EditIrrigation()">Save changes</button>
      </div>
    </div>
  </div>
</div>